ul {
  padding-left: calc(var(--scale) * 15px);
  font-size: calc(var(--scale) * 16px);
  color: #4A5565;
}
ul .list-item {
  margin-bottom: calc(var(--scale) * 16px);
}
ul .list-item::marker {
  color: #005EB8;
}

button {
  font-family: kmfont;
}

.error {
  margin-top: calc(var(--scale) * 5px);
  font-size: calc(var(--scale) * 12px);
  color: red;
}

#app {
  font-size: calc(var(--scale) * 14px);
}
#app .sub-title {
  color: #14206C;
  font-size: calc(var(--scale) * 24px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#app .center {
  text-align: center;
}
#app .page-header {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--scale) * 18px);
  font-weight: 400;
  padding-left: calc(var(--scale) * 459px);
}
#app .page-header img {
  width: calc(var(--scale) * 270px);
}
#app .banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: calc(var(--scale) * 64px) calc(var(--scale) * 459px) calc(var(--scale) * 32px) calc(var(--scale) * 459px);
  width: 100%;
  color: #FFF;
  font-size: calc(var(--scale) * 42px);
  font-weight: 700;
  background-color: #1B437E;
}
#app .banner .state {
  position: absolute;
  left: calc(var(--scale) * 684px);
  top: calc(var(--scale) * 132px);
  width: calc(var(--scale) * 429px);
}
#app .banner .ctx-area .title {
  margin-bottom: calc(var(--scale) * 35px);
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
#app .banner .ctx-area .title .main-title {
  font-size: calc(var(--scale) * 40px);
  line-height: 1.5;
}
#app .banner .ctx-area .title .sub-title {
  color: #FFF;
  font-size: calc(var(--scale) * 30px);
  font-weight: 400;
  white-space: nowrap;
}
#app .banner .ctx-area .item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
#app .banner .ctx-area .item {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--scale) * 20px);
  gap: calc(var(--scale) * 14px);
  font-style: normal;
  font-weight: 700;
  font-size: calc(var(--scale) * 20px);
}
#app .banner .ctx-area .item img {
  width: calc(var(--scale) * 22px);
}
#app .banner .ctx-area .btn-wrapper {
  display: flex;
  gap: calc(var(--scale) * 20px);
  margin-top: calc(var(--scale) * 20px);
  font-size: calc(var(--scale) * 14px);
}
#app .banner .ctx-area .btn-wrapper .btn {
  margin-top: 0;
  width: calc(var(--scale) * 120px);
  border-radius: calc(var(--scale) * 4px);
  font-weight: 700;
}
#app .banner .ctx-area .btn-wrapper .btn1 {
  margin-top: 0;
  color: white;
  background: #D86633;
}
#app .banner .ctx-area .btn-wrapper .btn2 {
  color: #1F427D;
  background-color: white;
}
#app .banner .img-wrapper {
  display: flex;
  align-items: flex-end;
}
#app .banner .img-wrapper .form-wrapper {
  margin-left: calc(var(--scale) * 30px);
  padding: calc(var(--scale) * 27px) calc(var(--scale) * 26px) calc(var(--scale) * 21px) calc(var(--scale) * 26px);
  background-color: white;
}
#app .banner .img-wrapper .form-wrapper .title {
  color: #14206C;
  text-align: center;
  font-family: "Source Han Sans CN";
  font-size: calc(var(--scale) * 20px);
  font-style: normal;
  font-weight: 500;
  line-height: 2.3; /* 230% */
}
#app .banner .img-wrapper .form-wrapper .input-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--scale) * 15px);
  margin-bottom: calc(var(--scale) * 12px);
}
#app .banner .img-wrapper .form-wrapper .input-item:nth-last-of-type(1) {
  font-weight: 600;
}
#app .banner .img-wrapper .form-wrapper .input-item:nth-last-of-type(1):before {
  display: none;
}
#app .banner .img-wrapper .form-wrapper .input-item:before {
  position: absolute;
  content: "*";
  top: calc(var(--scale) * 10px);
  left: 0;
  font-size: calc(var(--scale) * 12px);
  color: #D86633;
}
#app .banner .img-wrapper .form-wrapper .input-item:nth-last-of-type(1) {
  margin-bottom: 0;
}
#app .banner .img-wrapper .form-wrapper .input-item input {
  flex: 1;
  outline: none;
  padding-left: calc(var(--scale) * 8px);
  color: #999999;
  padding-top: calc(var(--scale) * 9px);
  padding-bottom: calc(var(--scale) * 9px);
  font-size: calc(var(--scale) * 14px);
  border: calc(var(--scale) * 1px) solid #E0E0E2;
}
#app .banner .img-wrapper .form-wrapper .input-item .sub-btn {
  padding-top: calc(var(--scale) * 3px);
  padding-bottom: calc(var(--scale) * 3px);
  color: white;
  text-align: center;
  font-size: calc(var(--scale) * 16px);
  line-height: 1.6;
  font-style: normal;
  font-weight: 600;
  background: #D86633;
  cursor: pointer;
  border: none;
  outline: none;
}
#app .banner .img-wrapper .form-wrapper .sub-tip {
  margin-top: calc(var(--scale) * 13px);
  color: #465052;
  text-align: center;
  font-size: calc(var(--scale) * 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.07; /* 328.571% */
}
#app .btn {
  margin-top: calc(var(--scale) * 16px);
  padding: calc(var(--scale) * 8px);
  color: white;
  width: fit-content;
  text-align: center;
  font-size: calc(var(--scale) * 16px);
  font-style: normal;
  font-weight: 500;
  border-radius: calc(var(--scale) * 4px);
  background-color: #D86633;
  cursor: pointer;
  border: none;
}
#app .block2-wrapper {
  background: #F8F9FA;
}
#app .block2-wrapper .block2 {
  background-color: transparent;
}
#app .block2-wrapper .block2 .block-context {
  margin-bottom: calc(var(--scale) * 21px);
  background: rgba(255, 255, 255, 0.6);
}
#app .block2 {
  margin-left: calc(var(--scale) * 459px);
  margin-right: calc(var(--scale) * 459px);
  margin-bottom: calc(var(--scale) * 28px);
  padding-top: calc(var(--scale) * 23px);
  background: #FFF;
}
#app .block2 .title {
  margin-bottom: calc(var(--scale) * 14px);
  color: #14206C;
  text-align: center;
  font-size: calc(var(--scale) * 32px);
  line-height: 1.5;
  font-style: normal;
  font-weight: 500;
}
#app .block2 .subtitle {
  font-size: calc(var(--scale) * 18px);
  text-align: center;
  line-height: 1.44;
  color: #465052;
}
#app .block2 .block-context {
  display: flex;
  position: relative;
  padding: calc(var(--scale) * 33px);
  gap: calc(var(--scale) * 48px);
  border-bottom: 0;
}
#app .block2 .block-context .img-wrapper img {
  width: calc(var(--scale) * 445px);
}
#app .block2 .block-context .img-wrapper .img-tip {
  color: #465052;
  text-align: center;
  font-size: calc(var(--scale) * 16px);
}
#app .block2 .block-context .desc .desc-title {
  margin-bottom: calc(var(--scale) * 24px);
  color: #1B437E;
  font-family: Arial;
  font-size: calc(var(--scale) * 20px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.8;
}
#app .block2 .block-context .desc-ctx {
  margin-bottom: calc(var(--scale) * 23px);
  color: #465052;
  font-size: calc(var(--scale) * 16px);
  line-height: 1.42;
}
#app .block2 .block-context .desc .list {
  font-size: calc(var(--scale) * 16px);
  color: #465052;
}
#app .block2 .block-context .desc .list .list-item {
  margin-bottom: calc(var(--scale) * 8px);
  line-height: 1.31;
}
#app .block2 .block-context .desc .list .list-item span {
  font-weight: 700;
}
#app .block2 .block-context1 {
  display: flex;
  gap: calc(var(--scale) * 57px);
  padding-bottom: calc(var(--scale) * 30px);
}
#app .block2 .block-context1 .item {
  flex: 1;
  padding: calc(var(--scale) * 24px) calc(var(--scale) * 33px);
  border-radius: calc(var(--scale) * 16px);
  border: calc(var(--scale) * 1px) solid #E5E7EB;
  background: #FFF;
  box-shadow: 0 calc(var(--scale) * 10px) calc(var(--scale) * 15px) calc(var(--scale) * -3px) rgba(0, 0, 0, 0.1), 0 calc(var(--scale) * 4px) calc(var(--scale) * 6px) calc(var(--scale) * -4px) rgba(0, 0, 0, 0.1);
}
#app .block2 .block-context1 .item .per {
  color: #FCBC40;
  font-size: calc(var(--scale) * 48px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
#app .block2 .block-context1 .item .tip {
  margin-bottom: calc(var(--scale) * 22px);
  color: #465052;
  font-family: "Source Han Sans CN";
  font-size: calc(var(--scale) * 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}
#app .block2 .block-context1 .item .item-title {
  margin-bottom: calc(var(--scale) * 19px);
  color: #14206C;
  font-family: "Source Han Sans CN";
  font-size: calc(var(--scale) * 20px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}
#app .block2 .block-context1 .item .item-desc {
  color: #465052;
  font-family: "Source Han Sans CN";
  font-size: calc(var(--scale) * 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.59; /* 159.375% */
}
#app .block3 {
  display: flex;
  gap: calc(var(--scale) * 63px);
  padding-left: calc(var(--scale) * 459px);
  padding-right: calc(var(--scale) * 459px);
  padding-top: calc(var(--scale) * 28px);
  padding-bottom: calc(var(--scale) * 28px);
  background: #F8F9FA;
}
#app .block3 .img-wrapper img {
  width: calc(var(--scale) * 445px);
}
#app .block3 .img-wrapper .img-tip {
  color: #465052;
  text-align: center;
  font-size: calc(var(--scale) * 16px);
}
#app .block3 .desc .desc-title {
  margin-bottom: calc(var(--scale) * 24px);
  color: #1B437E;
  font-family: Arial;
  font-size: calc(var(--scale) * 20px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.8;
}
#app .block3 .desc-ctx {
  margin-bottom: calc(var(--scale) * 23px);
  color: #465052;
  font-size: calc(var(--scale) * 16px);
  line-height: 1.42;
}
#app .block3 .desc .list {
  font-size: calc(var(--scale) * 16px);
  color: #465052;
}
#app .block3 .desc .list .list-item {
  margin-bottom: calc(var(--scale) * 8px);
  line-height: 1.31;
}
#app .block3 .desc .list .list-item span {
  font-weight: 700;
}
#app .block4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--scale) * 56px) calc(var(--scale) * 459px) calc(var(--scale) * 25px) calc(var(--scale) * 459px);
  margin-bottom: calc(var(--scale) * 56px);
  background: #F8F9FA;
}
#app .block4 .title {
  color: #1B437E;
  text-align: center;
  font-size: calc(var(--scale) * 32px);
  font-weight: 700;
}
#app .block4 .sub-title {
  margin-bottom: calc(var(--scale) * 31px);
  color: #465052;
  text-align: center;
  font-size: calc(var(--scale) * 18px);
  font-weight: 400;
}
#app .block4 .ctx-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#app .block4 .ctx-wrapper .ctx-item {
  display: flex;
  width: 46%;
  gap: calc(var(--scale) * 24px);
  margin-bottom: calc(var(--scale) * 12px);
}
#app .block4 .ctx-wrapper .ctx-item img {
  width: calc(var(--scale) * 40px);
  height: calc(var(--scale) * 40px);
}
#app .block4 .ctx-wrapper .ctx-item .ctx-desc .desc-title {
  color: #1B437E;
  font-size: calc(var(--scale) * 20px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
#app .block4 .ctx-wrapper .ctx-item .ctx-desc .desc-item {
  margin-top: calc(var(--scale) * 11px);
  color: #465052;
  font-size: calc(var(--scale) * 16px);
}
#app .block4 .ctx-wrapper .ctx-item .ctx-desc .desc-item span {
  font-weight: 700;
}
#app .block5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--scale) * 21px) calc(var(--scale) * 455px) calc(var(--scale) * 18px) calc(var(--scale) * 461px);
  margin-bottom: calc(var(--scale) * 22px);
}
#app .block5 .title {
  margin-bottom: calc(var(--scale) * 7px);
  color: #14206C;
  text-align: center;
  font-size: calc(var(--scale) * 32px);
  line-height: 1.5;
  font-style: normal;
  font-weight: 700;
}
#app .block5 .sub-title {
  margin-bottom: calc(var(--scale) * 16px);
  font-size: calc(var(--scale) * 18px);
  text-align: center;
  line-height: 1.33;
  font-weight: 400;
  color: #465052;
}
#app .block5 table {
  font-size: calc(var(--scale) * 16px);
  margin: 0 auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: calc(var(--scale) * 1px);
  table-layout: fixed;
}
#app .block5 table thead {
  color: white;
  background-color: #0099FF;
}
#app .block5 table thead th {
  font-size: calc(var(--scale) * 16px);
  padding: calc(var(--scale) * 14px);
  text-align: center;
}
#app .block5 table thead th:nth-of-type(1) {
  text-align: left;
}
#app .block5 table tbody .list-td {
  padding: calc(var(--scale) * 14px) calc(var(--scale) * 40px);
  text-align: left;
  line-height: 1.42;
}
#app .block5 table tbody .list-td1 {
  text-align: left;
  line-height: 1.42;
}
#app .block5 table tbody .list-td2 {
  padding: calc(var(--scale) * 14px) calc(var(--scale) * 105px);
  text-align: left;
  line-height: 1.42;
}
#app .block5 table tbody td:nth-of-type(1) {
  font-weight: 500;
  text-align: left;
  color: #465052;
  border-left: calc(var(--scale) * 1px) solid rgba(0, 0, 0, 0.1);
}
#app .block5 table tbody td {
  font-size: calc(var(--scale) * 16px);
  padding: calc(var(--scale) * 14px);
  text-align: center;
  color: #465052;
  border-right: calc(var(--scale) * 1px) solid rgba(0, 0, 0, 0.1);
  border-bottom: calc(var(--scale) * 1px) solid rgba(0, 0, 0, 0.1);
}
#app .block5 table tbody tr:nth-of-type(2n+1) {
  background-color: white;
}
#app .block5 table tbody tr:nth-of-type(2n) {
  background-color: #f9fafb;
}
#app .block6 {
  padding: calc(var(--scale) * 56px) calc(var(--scale) * 459px) calc(var(--scale) * 25px) calc(var(--scale) * 459px);
}
#app .block6 .title {
  margin-bottom: calc(var(--scale) * 47px);
  color: #1B437E;
  text-align: center;
  font-size: calc(var(--scale) * 32px);
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
#app .block6 .tab-wrapper {
  display: flex;
  padding-left: calc(var(--scale) * 180px);
  padding-right: calc(var(--scale) * 180px);
  border-bottom: calc(var(--scale) * 1px) solid rgba(70, 80, 82, 0.8);
}
#app .block6 .tab-wrapper .tab-item {
  flex: 1;
  font-size: calc(var(--scale) * 20px);
  color: #465052;
  line-height: 1.4;
  text-align: center;
  cursor: pointer;
}
#app .block6 .tab-wrapper .active {
  color: #1B437E;
  font-size: calc(var(--scale) * 20px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  border-bottom: calc(var(--scale) * 2px) solid #D86633;
}
#app .block6 .tab-content {
  margin-top: calc(var(--scale) * 14px);
  padding: calc(var(--scale) * 12px) calc(var(--scale) * 49px) calc(var(--scale) * 12px) calc(var(--scale) * 30px);
  background: #F5F7FA;
}
#app .block6 .tab-content .tab-1 {
  display: none;
  gap: calc(var(--scale) * 60px);
}
#app .block6 .tab-content .tab-1 .img-wrapper {
  display: flex;
  flex-direction: column;
}
#app .block6 .tab-content .tab-1 .img-wrapper .img1 {
  width: calc(var(--scale) * 273px);
}
#app .block6 .tab-content .tab-1 .img-wrapper .img2 {
  width: calc(var(--scale) * 272px);
}
#app .block6 .tab-content .tab-1 .img-wrapper .img-tip {
  color: #465052;
  text-align: center;
  font-size: calc(var(--scale) * 16px);
  line-height: 2.25;
}
#app .block6 .tab-content .tab-1 .desc-wrapper .sub-title {
  font-size: calc(var(--scale) * 20px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: calc(var(--scale) * 15px);
}
#app .block6 .tab-content .tab-1 .desc-wrapper .list-item {
  color: #465052;
  font-size: calc(var(--scale) * 16px);
  line-height: 1.25;
  margin-bottom: calc(var(--scale) * 15px);
}
#app .block6 .tab-content .tab-1 .desc-wrapper .list-item span {
  font-weight: 700;
}
#app .block6 .tab-content .tab-1 .desc-wrapper .desc-tip {
  font-size: calc(var(--scale) * 16px);
  color: #465052;
  margin-top: calc(var(--scale) * 15px);
}
#app .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: calc(var(--scale) * 34px) calc(var(--scale) * 461px) calc(var(--scale) * 34px) calc(var(--scale) * 461px);
  background-color: #102b5b;
  background-image: url("../assets/images/sfdj/AboutUs.png");
  background-size: 100% 100%;
}
#app .footer .title {
  margin-bottom: calc(var(--scale) * 8px);
  font-size: calc(var(--scale) * 26px);
  font-weight: 600;
  line-height: calc(var(--scale) * 50px);
  text-align: center;
  color: white;
}
#app .footer .banner-wrapper {
  display: flex;
  gap: calc(var(--scale) * 24px);
  margin-bottom: calc(var(--scale) * 40px);
}
#app .footer .banner-wrapper .banner-item {
  padding: calc(var(--scale) * 25px) calc(var(--scale) * 55px) calc(var(--scale) * 25px) calc(var(--scale) * 25px);
  flex: 1;
  border-radius: calc(var(--scale) * 2px);
  border: calc(var(--scale) * 1px) solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}
#app .footer .banner-wrapper .banner-item .item-title {
  margin-bottom: calc(var(--scale) * 7px);
  color: #D86633;
  font-size: calc(var(--scale) * 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 1.55;
}
#app .footer .banner-wrapper .banner-item .banner-desc {
  color: white;
  font-size: calc(var(--scale) * 16px);
  line-height: 1.25;
}
#app .footer .footer-ctx {
  font-size: calc(var(--scale) * 16px);
  line-height: calc(var(--scale) * 25px);
}
#app .footer .footer-ctx p {
  font-size: calc(var(--scale) * 16px);
  margin-bottom: calc(var(--scale) * 24px);
  color: white;
}
#app .footer .footer-ctx .em {
  color: #fcbc40;
  font-weight: 500;
}
#app .footer .title-desc {
  color: #FFF;
  text-align: center;
  font-size: calc(var(--scale) * 16px);
  font-style: normal;
  font-weight: 400;
}
#app .footer .require-tip {
  margin-top: calc(var(--scale) * 15px);
  color: white;
  font-size: calc(var(--scale) * 16px);
}
#app .footer .footer-form {
  width: 100%;
}
#app .footer .footer-form .input-area {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--scale) * 57px);
  width: 100%;
}
#app .footer .footer-form .input-area .item {
  flex: 1;
  color: white;
  font-size: calc(var(--scale) * 16px);
}
#app .footer .footer-form .input-area .item input {
  margin-top: calc(var(--scale) * 5px);
  width: 100%;
  height: calc(var(--scale) * 32px);
  line-height: calc(var(--scale) * 32px);
  font-size: calc(var(--scale) * 16px);
  outline: none;
}
#app .footer .footer-form .submit-area {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--scale) * 57px);
  margin-top: calc(var(--scale) * 25px);
}
#app .footer .footer-form .submit-area input {
  color: white;
  text-align: center;
  font-size: calc(var(--scale) * 16px);
  font-style: normal;
  font-weight: 600;
  line-height: calc(var(--scale) * 50px);
  height: calc(var(--scale) * 50px);
  border-radius: calc(var(--scale) * 2px);
  background: #D86633;
  outline: none;
  width: calc(var(--scale) * 200px);
  border: none;
  cursor: pointer;
}
#app .page-footer {
  display: flex;
  align-items: center;
  padding: calc(var(--scale) * 30px) calc(var(--scale) * 459px);
  gap: calc(var(--scale) * 22px);
  background: white;
  color: rgba(70, 80, 82, 0.5);
  font-size: calc(var(--scale) * 16px);
  font-style: normal;
  font-weight: 500;
}
#app .page-footer .img-wrapper img {
  width: calc(var(--scale) * 270px);
}
#app .page-footer .img-wrapper .address {
  white-space: nowrap;
}
#app .page-footer .img-wrapper .com {
  white-space: nowrap;
}
#app .page-footer .qrcode {
  margin-left: calc(var(--scale) * 240px);
  display: flex;
  align-items: center;
  gap: calc(var(--scale) * 10px);
  color: #465052;
}
#app .page-footer .qrcode img {
  width: calc(var(--scale) * 147px);
}
