ul {
  padding-left: calc(var(--scale) * 15px);
  font-size: calc(var(--scale) * 16px);
  color: #4A5565;
}
ul .list-item {
  margin-bottom: calc(var(--scale) * 16px);
}
ul .list-item::marker {
  color: #005EB8;
}

button {
  font-family: kmfont;
}

.error {
  margin-top: calc(var(--scale) * 5px);
  font-size: calc(var(--scale) * 12px);
  color: red;
}

#app {
  font-size: calc(var(--scale) * 14px);
}
#app .sub-title {
  color: #14206C;
  font-size: calc(var(--scale) * 24px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#app .center {
  text-align: center;
}
#app .page-header {
  display: flex;
  flex-direction: column;
  font-size: calc(var(--scale) * 18px);
  font-weight: 400;
  padding-left: calc(var(--scale) * 459px);
}
#app .page-header img {
  width: calc(var(--scale) * 180px);
}
#app .banner {
  display: flex;
  align-items: flex-end;
  padding: calc(var(--scale) * 49px) calc(var(--scale) * 459px) calc(var(--scale) * 49px) calc(var(--scale) * 459px);
  width: 100%;
  color: #FFF;
  font-size: calc(var(--scale) * 42px);
  font-weight: 700;
  background-color: #152368;
}
#app .banner .ctx-area .title {
  margin-bottom: calc(var(--scale) * 21px);
  color: #FFF;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
#app .banner .ctx-area .title .main-title {
  font-size: calc(var(--scale) * 42px);
}
#app .banner .ctx-area .title .sub-title {
  color: #FFF;
  font-size: calc(var(--scale) * 32px);
}
#app .banner .ctx-area .item {
  display: flex;
  align-items: center;
  margin-bottom: calc(var(--scale) * 22px);
  gap: calc(var(--scale) * 14px);
  color: #FCBC40;
  font-size: calc(var(--scale) * 20px);
  font-style: normal;
  font-weight: 500;
}
#app .banner .ctx-area .item:nth-last-of-type(2) {
  margin-bottom: calc(var(--scale) * 42px);
}
#app .banner .ctx-area .item img {
  width: calc(var(--scale) * 32px);
}
#app .banner .ctx-area .btn-wrapper {
  display: flex;
  gap: calc(var(--scale) * 20px);
  font-size: calc(var(--scale) * 14px);
}
#app .banner .ctx-area .btn-wrapper .btn {
  margin-top: 0;
  width: calc(var(--scale) * 180px);
  height: calc(var(--scale) * 53px);
  line-height: calc(var(--scale) * 53px);
  border-radius: calc(var(--scale) * 4px);
}
#app .banner .ctx-area .btn-wrapper .btn1 {
  margin-top: 0;
  color: #14206C;
  background-color: #FCBC40;
}
#app .banner .ctx-area .btn-wrapper .btn2 {
  color: white;
  background-color: transparent;
  border: calc(var(--scale) * 1px) solid #FCBC40;
}
#app .banner .img-wrapper {
  display: flex;
  align-items: flex-end;
  margin-left: calc(var(--scale) * 20px);
}
#app .banner .img-wrapper img {
  margin-bottom: calc(var(--scale) * 30px);
  width: calc(var(--scale) * 244px);
}
#app .banner .img-wrapper .form-wrapper {
  margin-left: calc(var(--scale) * 30px);
  padding: calc(var(--scale) * 15px) calc(var(--scale) * 30px);
  background-color: white;
}
#app .banner .img-wrapper .form-wrapper .title {
  color: #14206C;
  text-align: center;
  font-family: "Source Han Sans CN";
  font-size: calc(var(--scale) * 20px);
  font-style: normal;
  font-weight: 500;
  line-height: 2.3; /* 230% */
}
#app .banner .img-wrapper .form-wrapper .input-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--scale) * 15px);
  margin-bottom: calc(var(--scale) * 17px);
}
#app .banner .img-wrapper .form-wrapper .input-item:nth-last-of-type(1) {
  font-weight: 600;
}
#app .banner .img-wrapper .form-wrapper .input-item:nth-last-of-type(1):before {
  display: none;
}
#app .banner .img-wrapper .form-wrapper .input-item:before {
  position: absolute;
  content: "*";
  top: calc(var(--scale) * 10px);
  left: 0;
  font-size: calc(var(--scale) * 12px);
  color: #B2B2B3;
}
#app .banner .img-wrapper .form-wrapper .input-item:nth-last-of-type(1) {
  margin-bottom: 0;
}
#app .banner .img-wrapper .form-wrapper .input-item input {
  flex: 1;
  padding-left: calc(var(--scale) * 8px);
  color: #999999;
  padding-top: calc(var(--scale) * 9px);
  padding-bottom: calc(var(--scale) * 9px);
  font-size: calc(var(--scale) * 14px);
  border: calc(var(--scale) * 1px) solid #E0E0E2;
}
#app .banner .img-wrapper .form-wrapper .input-item .sub-btn {
  padding-top: calc(var(--scale) * 3px);
  padding-bottom: calc(var(--scale) * 3px);
  color: #14206C;
  text-align: center;
  font-size: calc(var(--scale) * 16px);
  line-height: 1.6;
  font-style: normal;
  font-weight: 500;
  background-color: #fcbc40;
  cursor: pointer;
  border: none;
  outline: none;
}
#app .banner .img-wrapper .form-wrapper .sub-tip {
  color: #465052;
  text-align: center;
  font-size: calc(var(--scale) * 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 3.2; /* 328.571% */
}
#app .btn {
  margin-top: calc(var(--scale) * 16px);
  width: calc(var(--scale) * 180px);
  color: #14206C;
  text-align: center;
  font-size: calc(var(--scale) * 18px);
  font-style: normal;
  font-weight: 500;
  line-height: 2.3;
  border-radius: calc(var(--scale) * 4px);
  background-color: #fcbc40;
  cursor: pointer;
  border: none;
}
#app .block2-wrapper {
  background: #F8F9FA;
}
#app .block2-wrapper .block2 {
  background-color: transparent;
}
#app .block2-wrapper .block2 .block-context {
  margin-bottom: calc(var(--scale) * 21px);
  background: rgba(255, 255, 255, 0.6);
}
#app .block2 {
  margin-left: calc(var(--scale) * 459px);
  margin-right: calc(var(--scale) * 459px);
  margin-bottom: calc(var(--scale) * 28px);
  padding-top: calc(var(--scale) * 23px);
  background: #FFF;
}
#app .block2 .title {
  margin-bottom: calc(var(--scale) * 14px);
  color: #14206C;
  text-align: center;
  font-size: calc(var(--scale) * 32px);
  line-height: 1.5;
  font-style: normal;
  font-weight: 500;
}
#app .block2 .block-context {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: calc(var(--scale) * 33px);
  gap: calc(var(--scale) * 16px);
  border-bottom: 0;
  border-radius: calc(var(--scale) * 16px);
  border: calc(var(--scale) * 1px) solid rgba(255, 255, 255, 0.5);
  background: #F8F9FA;
  box-shadow: 0 calc(var(--scale) * 1px) calc(var(--scale) * 3px) 0 rgba(0, 0, 0, 0.1), 0 calc(var(--scale) * 1px) calc(var(--scale) * 2px) calc(var(--scale) * -1px) rgba(0, 0, 0, 0.1);
}
#app .block2 .block-context .item {
  display: flex;
  align-items: flex-start;
  color: #4A5565;
  font-size: calc(var(--scale) * 16px);
  gap: calc(var(--scale) * 11px);
  line-height: 1.62;
}
#app .block2 .block-context .item img {
  margin-top: calc(var(--scale) * 3px);
  width: calc(var(--scale) * 20px);
  min-width: calc(var(--scale) * 20px);
}
#app .block2 .block-context .item span {
  color: #14206C;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: bottom;
}
#app .block2 .block-context1 {
  display: flex;
  gap: calc(var(--scale) * 59px);
  padding-bottom: calc(var(--scale) * 30px);
}
#app .block2 .block-context1 .item {
  padding: calc(var(--scale) * 24px) calc(var(--scale) * 33px);
  border-radius: calc(var(--scale) * 16px);
  border: calc(var(--scale) * 1px) solid #E5E7EB;
  background: #FFF;
  box-shadow: 0 calc(var(--scale) * 10px) calc(var(--scale) * 15px) calc(var(--scale) * -3px) rgba(0, 0, 0, 0.1), 0 calc(var(--scale) * 4px) calc(var(--scale) * 6px) calc(var(--scale) * -4px) rgba(0, 0, 0, 0.1);
}
#app .block2 .block-context1 .item .per {
  color: #FCBC40;
  font-size: calc(var(--scale) * 48px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
#app .block2 .block-context1 .item .tip {
  margin-bottom: calc(var(--scale) * 22px);
  color: #465052;
  font-family: "Source Han Sans CN";
  font-size: calc(var(--scale) * 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}
#app .block2 .block-context1 .item .item-title {
  margin-bottom: calc(var(--scale) * 19px);
  color: #14206C;
  font-family: "Source Han Sans CN";
  font-size: calc(var(--scale) * 20px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}
#app .block2 .block-context1 .item .item-desc {
  color: #465052;
  font-family: "Source Han Sans CN";
  font-size: calc(var(--scale) * 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 1.59; /* 159.375% */
}
#app .block3 {
  margin-top: calc(var(--scale) * 16px);
  margin-bottom: calc(var(--scale) * 50px);
  padding: calc(var(--scale) * 5px) calc(var(--scale) * 459px);
}
#app .block3 .title {
  margin-bottom: calc(var(--scale) * 32px);
  color: #14206C;
  font-size: calc(var(--scale) * 32px);
  font-style: normal;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
  width: 100%;
}
#app .block3 .block-context {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #14206C;
}
#app .block3 .block-context table {
  font-size: calc(var(--scale) * 16px);
  margin: 0 auto;
  margin-bottom: calc(var(--scale) * 4px);
  width: 100%;
  border-spacing: 0;
}
#app .block3 .block-context table thead {
  color: #14206C;
  background-color: #b7ddf2;
}
#app .block3 .block-context table thead th {
  font-size: calc(var(--scale) * 16px);
  padding: calc(var(--scale) * 14px);
  text-align: center;
}
#app .block3 .block-context table thead th:nth-of-type(1) {
  text-align: left;
}
#app .block3 .block-context table tbody td:nth-of-type(1) {
  font-weight: 500;
  text-align: left;
  color: #14206C;
  background-color: #b7ddf2;
}
#app .block3 .block-context table tbody td {
  font-size: calc(var(--scale) * 16px);
  padding: calc(var(--scale) * 14px);
  text-align: center;
  color: #364153;
  border-bottom: calc(var(--scale) * 1px) solid #E5E7EB;
}
#app .block3 .block-context table tbody tr:nth-of-type(2n) {
  background-color: white;
}
#app .block3 .block-context table tbody tr:nth-of-type(2n+1) {
  background-color: #f3f4f6;
}
#app .block3 .block-context .btn {
  padding: calc(var(--scale) * 15px) calc(var(--scale) * 18px);
  line-height: 1;
  width: fit-content;
}
#app .block4-wrapper {
  background: #F8F9FA;
  padding-top: calc(var(--scale) * 47px);
}
#app .block4-wrapper .title {
  margin-bottom: calc(var(--scale) * 12px);
  color: #14206C;
  font-size: calc(var(--scale) * 32px);
  font-style: normal;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
  width: 100%;
}
#app .block4-wrapper .block4 {
  padding-top: 0;
  gap: calc(var(--scale) * 49px);
}
#app .block4-wrapper .block4 .left {
  margin-left: 0;
}
#app .block4-wrapper .block4 .dianchi {
  width: calc(var(--scale) * 334px);
}
#app .block4-wrapper .block4 .right .item-title {
  margin-top: calc(var(--scale) * 24px);
  margin-bottom: calc(var(--scale) * 8px);
  color: #1B437E;
  font-family: "Source Han Sans CN";
  font-size: calc(var(--scale) * 20px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
}
#app .block4-wrapper .block4 .right .sub-desc span {
  color: #465052;
  font-family: "Source Han Sans CN";
  font-size: calc(var(--scale) * 16px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
#app .block4 {
  display: flex;
  align-items: center;
  gap: calc(var(--scale) * 116px);
  padding: calc(var(--scale) * 20px) calc(var(--scale) * 459px);
  margin-bottom: calc(var(--scale) * 32px);
  background: #F8F9FA;
}
#app .block4 .left {
  margin-left: calc(var(--scale) * 96px);
}
#app .block4 .left img {
  width: calc(var(--scale) * 197px);
}
#app .block4 .left .img-desc {
  text-align: center;
  font-size: calc(var(--scale) * 16px);
  color: #465052;
}
#app .block4 .right .title {
  margin-bottom: calc(var(--scale) * 24px);
  width: fit-content;
  font-size: calc(var(--scale) * 24px);
  font-weight: 500;
  border-bottom: calc(var(--scale) * 1px) solid #FCBC40;
  color: #14206C;
}
#app .block4 .right .sub-title {
  display: flex;
  align-items: center;
  gap: calc(var(--scale) * 8px);
  margin-bottom: calc(var(--scale) * 15px);
  font-size: calc(var(--scale) * 18px);
  font-weight: 500;
}
#app .block4 .right .sub-title .dot {
  width: calc(var(--scale) * 6px);
  height: calc(var(--scale) * 6px);
  border-radius: 50%;
  background: #FCBC40;
}
#app .block4 .right .sub-desc {
  margin-bottom: calc(var(--scale) * 13px);
  color: #465052;
  font-size: calc(var(--scale) * 16px);
  line-height: 1.5;
}
#app .block4 .right .sub-desc:nth-last-of-type(1) {
  margin-bottom: 0;
}
#app .block5 {
  display: flex;
  align-items: center;
  gap: calc(var(--scale) * 42px);
  padding: calc(var(--scale) * 20px) calc(var(--scale) * 455px) calc(var(--scale) * 18px) calc(var(--scale) * 461px);
  margin-bottom: calc(var(--scale) * 22px);
}
#app .block5 .right img {
  margin-top: calc(var(--scale) * 60px);
  width: calc(var(--scale) * 378px);
}
#app .block5 .right .img-desc {
  text-align: center;
  font-size: calc(var(--scale) * 16px);
  color: #465052;
}
#app .block5 .left .title {
  margin-bottom: calc(var(--scale) * 24px);
  width: fit-content;
  font-size: calc(var(--scale) * 24px);
  font-weight: 500;
  border-bottom: calc(var(--scale) * 1px) solid #FCBC40;
  color: #14206C;
}
#app .block5 .left .sub-title {
  display: flex;
  align-items: center;
  gap: calc(var(--scale) * 8px);
  margin-bottom: calc(var(--scale) * 15px);
  font-size: calc(var(--scale) * 18px);
  font-weight: 500;
}
#app .block5 .left .sub-title .dot {
  width: calc(var(--scale) * 6px);
  height: calc(var(--scale) * 6px);
  border-radius: 50%;
  background: #FCBC40;
}
#app .block5 .left .sub-desc {
  margin-bottom: calc(var(--scale) * 13px);
  color: #465052;
  font-size: calc(var(--scale) * 16px);
  line-height: 1.5;
}
#app .block5 .left .sub-desc:nth-last-of-type(1) {
  margin-bottom: 0;
}
#app .block6 {
  display: flex;
  flex-direction: column;
  padding-left: calc(var(--scale) * 460px);
  padding-right: calc(var(--scale) * 460px);
  padding-top: calc(var(--scale) * 20px);
  padding-bottom: calc(var(--scale) * 50px);
}
#app .block6 .title {
  margin-bottom: calc(var(--scale) * 15px);
  text-align: center;
  font-size: calc(var(--scale) * 32px);
  font-weight: 500;
  color: #14206C;
}
#app .block6 .block-context {
  display: flex;
  gap: calc(var(--scale) * 24px);
}
#app .block6 .block-context .item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--scale) * 41px);
  flex: 1;
  border-radius: calc(var(--scale) * 14px);
  border: calc(var(--scale) * 1.25px) solid #F3F4F6;
  background: #FFF;
  box-shadow: 0 calc(var(--scale) * 4px) calc(var(--scale) * 20px) 0 rgba(0, 0, 0, 0.05);
}
#app .block6 .block-context .item .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(var(--scale) * 25px);
  width: calc(var(--scale) * 80px);
  height: calc(var(--scale) * 80px);
  border-radius: calc(var(--scale) * 16px);
  background: #14206C;
  box-shadow: 0 calc(var(--scale) * 10px) calc(var(--scale) * 15px) calc(var(--scale) * -3px) rgba(0, 0, 0, 0.1), 0 calc(var(--scale) * 4px) calc(var(--scale) * 6px) calc(var(--scale) * -4px) rgba(0, 0, 0, 0.1);
}
#app .block6 .block-context .item .icon-wrapper img {
  display: block;
  width: calc(var(--scale) * 40px);
}
#app .block6 .block-context .item-title {
  margin-bottom: calc(var(--scale) * 6px);
  font-size: calc(var(--scale) * 18px);
  font-weight: 500;
  color: #14206C;
}
#app .block6 .block-context .item-desc {
  line-height: 1.7;
  color: #4A5565;
  font-size: calc(var(--scale) * 16px);
}
#app .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: calc(var(--scale) * 34px) calc(var(--scale) * 461px) calc(var(--scale) * 34px) calc(var(--scale) * 461px);
  background-color: #102b5b;
}
#app .footer .title {
  margin-bottom: calc(var(--scale) * 8px);
  font-size: calc(var(--scale) * 26px);
  font-weight: 600;
  line-height: calc(var(--scale) * 50px);
  text-align: center;
  color: white;
}
#app .footer .sub-title {
  position: relative;
  width: 100%;
  font-size: calc(var(--scale) * 18px);
  margin-bottom: calc(var(--scale) * 20px);
  color: white;
  text-align: center;
}
#app .footer .sub-title:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 30%;
  height: calc(var(--scale) * 2px);
  content: "";
  background-color: rgba(255, 255, 255, 0.6);
  transform: translateY(-50%);
}
#app .footer .sub-title:after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  width: 30%;
  height: calc(var(--scale) * 2px);
  background-color: rgba(255, 255, 255, 0.6);
  transform: translateY(-50%);
}
#app .footer .footer-ctx {
  font-size: calc(var(--scale) * 16px);
  line-height: calc(var(--scale) * 25px);
}
#app .footer .footer-ctx p {
  font-size: calc(var(--scale) * 16px);
  margin-bottom: calc(var(--scale) * 49px);
  color: white;
}
#app .footer .footer-ctx .em {
  color: #fcbc40;
  font-weight: 500;
}
#app .footer .title-desc {
  color: #FFF;
  text-align: center;
  font-size: calc(var(--scale) * 16px);
  font-style: normal;
  font-weight: 400;
}
#app .footer .require-tip {
  margin-top: calc(var(--scale) * 15px);
  color: white;
  font-size: calc(var(--scale) * 16px);
}
#app .footer .footer-form {
  width: 100%;
}
#app .footer .footer-form .input-area {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--scale) * 57px);
  width: 100%;
}
#app .footer .footer-form .input-area .item {
  flex: 1;
  color: white;
  font-size: calc(var(--scale) * 16px);
}
#app .footer .footer-form .input-area .item input {
  margin-top: calc(var(--scale) * 5px);
  width: 100%;
  height: calc(var(--scale) * 32px);
  line-height: calc(var(--scale) * 32px);
  font-size: calc(var(--scale) * 16px);
  outline: none;
}
#app .footer .footer-form .submit-area {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--scale) * 57px);
  margin-top: calc(var(--scale) * 25px);
}
#app .footer .footer-form .submit-area input {
  color: #14206C;
  text-align: center;
  font-size: calc(var(--scale) * 16px);
  font-style: normal;
  font-weight: 600;
  line-height: calc(var(--scale) * 32px);
  height: calc(var(--scale) * 32px);
  border-radius: calc(var(--scale) * 4px);
  background-color: #fcbc40;
  outline: none;
  width: calc(var(--scale) * 252px);
  border: none;
  cursor: pointer;
}
#app .page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--scale) * 24px) 0;
  gap: calc(var(--scale) * 22px);
  background: rgba(217, 217, 217, 0.5);
  color: rgba(70, 80, 82, 0.5);
  font-size: calc(var(--scale) * 12px);
  font-style: normal;
  font-weight: 500;
}
#app .page-footer img {
  width: calc(var(--scale) * 123px);
}
