@charset "UTF-8";
ul {
  padding-left: calc(var(--scale) * 15px);
}

#app {
  font-size: calc(var(--scale) * 14px);
}
#app .sub-title {
  color: #14206C;
  font-size: calc(var(--scale) * 14px);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#app .center {
  text-align: center;
}
#app .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1440/168;
  color: #FFF;
  font-size: calc(var(--scale) * 42px);
  font-weight: 700;
  background-image: url("../assets/images/wkdj/banner.png");
  background-size: 100% 100%;
}
#app .block1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--scale) * 59px);
  padding-left: 19.4%;
  padding-right: 19.4%;
  gap: calc(var(--scale) * 33px);
}
#app .block1 .block-left {
  display: flex;
  align-items: flex-end;
  padding-top: calc(var(--scale) * 25px);
  width: 46.7%;
}
#app .block1 .block-left img {
  display: block;
  width: calc(var(--scale) * 399px);
}
#app .block1 .block-right {
  width: 51.2%;
}
#app .block1 .block-right .title {
  margin-bottom: calc(var(--scale) * 8px);
  color: #14206C;
  font-size: calc(var(--scale) * 24px);
  font-style: normal;
  font-weight: 500;
}
#app .block1 .block-right ul {
  flex: 1;
}
#app .block1 .block-right ul li {
  margin-top: calc(var(--scale) * 20px);
  color: #414042;
  font-size: calc(var(--scale) * 14px);
  font-style: normal;
  font-weight: 400;
  line-height: 157.143%;
}
#app .block1 .block-right ul li:nth-of-type(1) {
  margin-top: 0;
}
#app .block2 {
  padding-left: 19.4%;
  padding-right: 10.4%;
  margin-top: calc(var(--scale) * 39px);
  margin-bottom: calc(var(--scale) * 39px);
}
#app .block2 .title {
  color: #14206C;
  text-align: center;
  font-size: calc(var(--scale) * 24px);
  font-style: normal;
  font-weight: 500;
  line-height: 1.91; /* 191.667% */
  border-bottom: calc(var(--scale) * 1px) solid #C5C5C5;
}
#app .block2 .title div {
  margin-left: 7.2%;
}
#app .block2 .img-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--scale) * 3px);
}
#app .block2 .img-wrapper img {
  flex: 373;
  width: calc(var(--scale) * 377px);
}
#app .block2 .table-area {
  font-size: calc(var(--scale) * 14px);
}
#app .block2 .table-area .tb-header {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--scale) * 4px);
  width: 100%;
  font-weight: 700;
  color: #414042;
}
#app .block2 .table-area .tb-header .td-item {
  padding: calc(var(--scale) * 11px) 0;
  text-align: center;
  background-color: #e8e8e8;
}
#app .block2 .table-area .tb-header .active {
  color: #14206C;
  background-color: #a2daf5;
}
#app .block2 .table-area .tb-body .tr-item {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--scale) * 4px);
}
#app .block2 .table-area .tb-body .tr-item .td-item {
  padding: calc(var(--scale) * 11px) 0rem;
  text-align: center;
  color: #414042;
}
#app .block2 .table-area .tb-body .tr-item .td-item .text-area {
  margin: 0 auto;
  width: 65%;
}
#app .block2 .table-area .tb-body .tr-item .td-item .text-area1 {
  margin: 0 auto;
  width: 80%;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(1) {
  font-weight: 700;
}
#app .block2 .table-area .tb-body .tr-item:nth-of-type(2n+1) .td-item {
  background-color: #f5f5f5;
}
#app .block2 .table-area .tb-body .tr-item:nth-of-type(2n) .td-item {
  background-color: #e8e8e8;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(1) {
  flex: 127;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(2) {
  flex: 377;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(3) {
  flex: 372;
}
#app .block3 {
  display: flex;
  align-items: flex-end;
  margin-bottom: calc(var(--scale) * 43px);
  padding: calc(var(--scale) * 18px) 19.4%;
  background: #F0F0F0;
}
#app .block3 .block-left .title {
  margin-bottom: calc(var(--scale) * 15px);
  color: #14206C;
  font-size: calc(var(--scale) * 24px);
  font-style: normal;
  font-weight: 500;
}
#app .block3 .block-left ul {
  color: #414042;
  font-size: calc(var(--scale) * 14px);
}
#app .block3 .block-left ul .sub-ul li {
  list-style-type: none;
}
#app .block3 .block-right {
  display: flex;
  align-items: flex-end;
  margin-left: calc(var(--scale) * 75px);
}
#app .block3 .block-right img {
  width: calc(var(--scale) * 199px);
}
#app .block4 {
  display: flex;
  align-items: center;
  padding: 0 19.4%;
}
#app .block4 .block-left {
  width: 50%;
}
#app .block4 .block-left img {
  width: calc(var(--scale) * 312px);
}
#app .block4 .block-right .title {
  margin-bottom: calc(var(--scale) * 11px);
  color: #14206C;
  font-size: calc(var(--scale) * 24px);
  font-style: normal;
  font-weight: 500;
}
#app .block4 .block-right ul {
  color: #414042;
}
#app .block4 .block-right ul li {
  line-height: 1.5;
}
#app .tab-block {
  margin-top: calc(var(--scale) * 30px);
  margin-bottom: calc(var(--scale) * 54px);
}
#app .tab-block .title {
  margin-bottom: calc(var(--scale) * 11px);
  color: #14206C;
  font-size: calc(var(--scale) * 24px);
  text-align: center;
  font-style: normal;
  font-weight: 500;
}
#app .tab-block .tab-area {
  display: flex;
  justify-content: center;
  border-bottom: calc(var(--scale) * 1px) solid #C5C5C5;
}
#app .tab-block .tab-area .tab-item {
  padding: calc(var(--scale) * 16px) calc(var(--scale) * 30px);
  color: #636363;
  font-size: calc(var(--scale) * 16px);
  font-weight: 600;
  cursor: pointer;
}
#app .tab-block .tab-area .active {
  color: #14206C;
  border-bottom: calc(var(--scale) * 2px) solid #ECB62D;
}
#app .tab-block .tab-content {
  padding-top: calc(var(--scale) * 2px);
}
#app .tab-block .tab-content .tab-1 {
  width: 100%;
}
#app .tab-block .tab-content table {
  margin: 0 auto;
  padding: 0 19.4%;
  width: 100%;
  border-collapse: separate;
  border-spacing: calc(var(--scale) * 1px);
}
#app .tab-block .tab-content table thead {
  color: #14206C;
  background-color: #a2daf5;
}
#app .tab-block .tab-content table thead th {
  padding: calc(var(--scale) * 5px);
  text-align: left;
}
#app .tab-block .tab-content table thead th:nth-of-type(1) {
  text-align: center;
}
#app .tab-block .tab-content table thead th:nth-of-type(2) {
  text-align: center;
}
#app .tab-block .tab-content table tbody td {
  padding: 0 0 0 calc(var(--scale) * 2px);
}
#app .tab-block .tab-content table tbody tr:nth-of-type(2n) {
  background-color: #fcfcfc;
}
#app .tab-block .tab-content table tbody tr:nth-of-type(2n+1) {
  background-color: #e8e8e8;
}
#app .tab-block .tab-content .tb2 {
  margin-top: calc(var(--scale) * 40px);
}
#app .tab-block .tab-content .tb2 tbody tr td:nth-of-type(1) {
  color: #14206C;
  font-weight: 700;
  writing-mode: vertical-lr;
  padding: calc(var(--scale) * 5px) 0;
  background-color: #a2daf5;
}
#app .tab-block .tab-content .tb2 tbody tr:nth-of-type(2n+1) td {
  background-color: #e8e8e8;
}
#app .tab-block .tab-content .tb2 tbody tr:nth-of-type(2n) {
  background-color: #fcfcfc;
}
#app .banner-area {
  padding: 0 19.4% calc(var(--scale) * 44px) 19.4%;
}
#app .banner-area .sub-title {
  text-align: center;
  font-size: calc(var(--scale) * 24px);
  margin-bottom: calc(var(--scale) * 24px);
}
#app .banner-area .banner-wrapper {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--scale) * 20px);
}
#app .banner-area .banner-wrapper .banner-item {
  padding: calc(var(--scale) * 19px) calc(var(--scale) * 9px);
  flex: 1;
  border-radius: calc(var(--scale) * 10px);
  background: #FFF;
  box-shadow: calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 10px) calc(var(--scale) * 6px) rgba(0, 0, 0, 0.1490196078);
}
#app .banner-area .banner-wrapper .banner-item img {
  display: block;
  margin-bottom: calc(var(--scale) * 21px);
  width: 100%;
}
#app .banner-area .banner-wrapper .banner-item a {
  display: block;
  font-size: calc(var(--scale) * 14px);
  color: #14206C;
  text-decoration: none;
  font-weight: 700;
}
#app .QA-item .sub-title {
  font-size: calc(var(--scale) * 24px);
  margin-bottom: calc(var(--scale) * 25px);
  text-align: center;
}
#app .QA-item .list-wrapper {
  padding: 0 19.4% calc(var(--scale) * 44px) 19.4%;
}
#app .QA-item .list-wrapper .list-item {
  position: relative;
  padding-left: calc(var(--scale) * 25px);
  margin-bottom: calc(var(--scale) * 25px);
}
#app .QA-item .list-wrapper .list-item:nth-last-of-type(1) {
  margin-bottom: 0;
}
#app .QA-item .list-wrapper .list-item .list-title {
  margin-bottom: calc(var(--scale) * 12px);
  font-size: calc(var(--scale) * 14px);
  color: #14206C;
  font-weight: bold;
}
#app .QA-item .list-wrapper .list-item .list-ctx {
  font-size: calc(var(--scale) * 14px);
  color: #414042;
}
#app .QA-item .list-wrapper .list-item:after {
  position: absolute;
  left: 0;
  top: calc(var(--scale) * -1px);
  content: "•";
  color: #4A4459;
  font-size: calc(var(--scale) * 18px);
  font-weight: bold;
}
#app .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 19.4% 0 19.4%;
  aspect-ratio: 2880/806;
  background-size: 100% 100%;
  background-image: url("../assets/images/footer.png");
}
#app .footer .title {
  margin-bottom: calc(var(--scale) * 8px);
  font-size: calc(var(--scale) * 26px);
  font-weight: 600;
  line-height: 1.91;
  text-align: center;
  color: white;
}
#app .footer .sub-title {
  position: relative;
  width: 100%;
  font-size: calc(var(--scale) * 18px);
  margin-bottom: calc(var(--scale) * 20px);
  color: white;
  text-align: center;
}
#app .footer .sub-title:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 30%;
  height: calc(var(--scale) * 2px);
  content: "";
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .sub-title:after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  width: 30%;
  height: calc(var(--scale) * 2px);
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .footer-ctx {
  font-size: calc(var(--scale) * 16px);
  line-height: calc(var(--scale) * 25px);
}
#app .footer .footer-ctx p {
  margin-bottom: calc(var(--scale) * 20px);
  color: white;
}
#app .footer .footer-ctx .em {
  color: #fcbc40;
  font-weight: 500;
}
