.dialog-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  .dialog-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    width: 74.5%;
    height: 78%;
    border-radius: .02rem;
    transform: translate(-50%, -50%);
    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: .37rem .72rem .42rem .77rem;
      width: 68.5%;
      border-radius: .04rem 0 0 .02rem;
      background-color: #fff;
      .title {
        color: #14206C;
        font-family: Arial;
        font-size: .2rem;
        font-style: normal;
        font-weight: 700;
        line-height: .46rem;
      }
      .title-desc {
        margin-bottom: .09rem;
        color: #465052;
        font-family: Arial;
        font-size: .16rem;
        font-style: normal;
        font-weight: 400;
        line-height: .46rem
      }
      .tip {
        margin-bottom: .07rem;
        color: #999;
        font-family: Arial;
        font-size: .14rem;
        font-style: normal;
        font-weight: 400;
        line-height: .32rem;
      }
      .input-item {
        margin-top: .14rem;
        label {
          display: block;
          color: #999;
          font-family: Arial;
          font-size: .16rem;
          font-style: normal;
          font-weight: 400;
          line-height: 200%
        }
        input {
          width: 100%;
          height: .32rem;
          font-size: .14rem;
          border: .01rem solid #E0E0E2;;
        }
        .sub-btn {
          color: #14206C;
          text-align: center;
          font-family: Arial;
          font-size: .2rem;
          line-height: 1;
          font-style: normal;
          font-weight: 700;
          height: .52rem;
          background-color: #fcbc40;
          cursor: pointer ;
        }
      }
      .last-item {
        margin-top: .31rem;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: .51rem .34rem .83rem .52rem;
      flex: 1;
      border-radius: 0rem 0.02rem  0.02rem 0rem;
      background: #14206C;
      .title {
        margin-bottom: .08rem;
        color: #F5F5F5;
        font-family: Arial;
        font-size: .2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 135%
      }
      .desc{
        margin-bottom: .52rem;
        color: #F5F5F5;
        font-family: Arial;
        font-size: .14rem;
        font-style: normal;
        font-weight: 400;
        line-height: .2rem; /* 142.857% */
      }
      ul {
        margin-bottom: .51rem;
        color: #F5F5F5;
        font-size: .14rem;
        font-style: normal;
        font-weight: 400;
        line-height: .27rem;
      }
      img {
        width: 2.6rem
      }
    }
    .close {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      transform: translate(50%, -50%);
      img {
        width: .14rem;
      }

    }
  }
}