.dialog-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.dialog-modal .dialog-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  width: 74.5%;
  height: 78%;
  border-radius: 0.02rem;
  transform: translate(-50%, -50%);
}
.dialog-modal .dialog-wrapper .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.37rem 0.72rem 0.42rem 0.77rem;
  width: 68.5%;
  border-radius: 0.04rem 0 0 0.02rem;
  background-color: #fff;
}
.dialog-modal .dialog-wrapper .left .title {
  color: #14206C;
  font-family: Arial;
  font-size: 0.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.46rem;
}
.dialog-modal .dialog-wrapper .left .title-desc {
  margin-bottom: 0.09rem;
  color: #465052;
  font-family: Arial;
  font-size: 0.16rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.46rem;
}
.dialog-modal .dialog-wrapper .left .tip {
  margin-bottom: 0.07rem;
  color: #999;
  font-family: Arial;
  font-size: 0.14rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.32rem;
}
.dialog-modal .dialog-wrapper .left .input-item {
  margin-top: 0.14rem;
}
.dialog-modal .dialog-wrapper .left .input-item label {
  display: block;
  color: #999;
  font-family: Arial;
  font-size: 0.16rem;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}
.dialog-modal .dialog-wrapper .left .input-item input {
  width: 100%;
  height: 0.32rem;
  font-size: 0.14rem;
  border: 0.01rem solid #E0E0E2;
}
.dialog-modal .dialog-wrapper .left .input-item .sub-btn {
  color: #14206C;
  text-align: center;
  font-family: Arial;
  font-size: 0.2rem;
  line-height: 1;
  font-style: normal;
  font-weight: 700;
  height: 0.52rem;
  background-color: #fcbc40;
  cursor: pointer;
  border: none;
  outline: none;
}
.dialog-modal .dialog-wrapper .left .last-item {
  margin-top: 0.31rem;
}
.dialog-modal .dialog-wrapper .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.51rem 0.34rem 0.83rem 0.52rem;
  flex: 1;
  border-radius: 0rem 0.02rem 0.02rem 0rem;
  background: #14206C;
}
.dialog-modal .dialog-wrapper .right .title {
  margin-bottom: 0.08rem;
  color: #F5F5F5;
  font-family: Arial;
  font-size: 0.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
}
.dialog-modal .dialog-wrapper .right .desc {
  margin-bottom: 0.52rem;
  color: #F5F5F5;
  font-family: Arial;
  font-size: 0.14rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.2rem; /* 142.857% */
}
.dialog-modal .dialog-wrapper .right ul {
  margin-bottom: 0.51rem;
  color: #F5F5F5;
  font-size: 0.14rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.27rem;
}
.dialog-modal .dialog-wrapper .right img {
  width: 2.6rem;
}
.dialog-modal .dialog-wrapper .close {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  transform: translate(50%, -50%);
}
.dialog-modal .dialog-wrapper .close img {
  width: 0.14rem;
}
