@font-face {
  font-family: 'kmfont';
  src: url('../assets/font/SourceHanSansCN-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'kmfont';
  src: url('../assets/font/SourceHanSansCN-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'kmfont';
  src: url('../assets/font/SourceHanSansCN-Bold.otf');
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li {
  list-style-type: disc;
}
html, body {
  width: 100%;
  margin: 0 auto;
  font-size: .14rem;
  font-family: 'kmfont';
  background-color: white;

}