@charset "UTF-8";
#app {
  width: 100%;
  height: 100%;
  background-color: #333333;
}
#app ul {
  padding-left: calc(var(--scale) * 15px);
}
#app .banner {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  aspect-ratio: 1440/183;
  background-image: url("../assets/images/banner_bg.png");
  background-size: 100% 100%;
}
#app .banner .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#app .banner .img-wrapper .page-title {
  font-size: calc(var(--scale) * 40px);
  font-weight: 700;
  color: white;
}
#app .banner .img-wrapper img {
  width: calc(var(--scale) * 214px);
}
#app .content {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
#app .content .sub-title {
  font-size: calc(var(--scale) * 24px);
  color: #14206C;
  font-weight: 700;
  white-space: nowrap;
}
#app .content .center {
  text-align: center;
}
#app .content .block-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: calc(var(--scale) * 22px) 19.4% calc(var(--scale) * 26px) 19.4%;
  gap: calc(var(--scale) * 70px);
  background-color: white;
  color: #414042;
}
#app .content .block-item img {
  width: calc(var(--scale) * 317px);
}
#app .content .block-item .w391 {
  width: calc(var(--scale) * 391px);
}
#app .content .block-item .block-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#app .content .block-item .block-left .desc-name {
  margin-bottom: calc(var(--scale) * 16px);
}
#app .content .block-item .block-left .sub-title {
  margin-bottom: calc(var(--scale) * 16px);
}
#app .content .block-item .block-right {
  display: flex;
  flex-direction: column;
  width: 52.2%;
  text-align: left;
}
#app .content .block-item .block-right .sub-title {
  margin-bottom: calc(var(--scale) * 23px);
}
#app .content .block-item .desc-t {
  font-size: calc(var(--scale) * 14px);
  line-height: calc(var(--scale) * 22px);
}
#app .content .block-item .desc-info {
  color: #414042;
  font-size: calc(var(--scale) * 14px);
  line-height: calc(var(--scale) * 22px);
}
#app .content .block-item .desc-info .b1-list-item {
  margin-bottom: calc(var(--scale) * 20px);
}
#app .content .block-item .desc-info .b1-list-item:nth-last-of-type(1) {
  margin-bottom: 0;
}
#app .content .block-item:nth-of-type(2n) {
  background-color: #F0F0F0;
}
#app .content .align-center {
  align-items: center;
}
#app .content .table-wrapper {
  margin-bottom: calc(var(--scale) * 44px);
  padding: calc(var(--scale) * 44px) 19.4% 0 19.4%;
}
#app .content .table-wrapper .sub-title {
  margin-bottom: calc(var(--scale) * 12px);
  padding-bottom: calc(var(--scale) * 5px);
  width: fit-content;
  border-bottom: calc(var(--scale) * 3px) solid #FCBC40;
}
#app .content .table-wrapper .table-area {
  display: flex;
}
#app .content .table-wrapper .table-area .tb-left {
  width: calc(var(--scale) * 150px);
  background-color: #A2DAF6;
}
#app .content .table-wrapper .table-area .tb-left .td-item {
  padding-left: calc(var(--scale) * 5px);
  font-size: calc(var(--scale) * 14px);
  line-height: calc(var(--scale) * 47px);
  height: calc(var(--scale) * 47px);
  font-weight: bold;
  color: #14206C;
}
#app .content .table-wrapper .table-area .tb-right {
  flex: 1;
}
#app .content .table-wrapper .table-area .tb-right .tb-head {
  display: flex;
  line-height: 3.2;
  color: #14206C;
  font-size: calc(var(--scale) * 14px);
  font-weight: bold;
  background-color: #A2DAF6;
}
#app .content .table-wrapper .table-area .tb-right .tb-head .td-item {
  flex: 1;
  text-align: center;
}
#app .content .table-wrapper .table-area .tb-right .tb-body .row-item {
  display: flex;
  line-height: 3.2;
  font-size: calc(var(--scale) * 14px);
  color: #414042;
  background-color: #fcfcfc;
}
#app .content .table-wrapper .table-area .tb-right .tb-body .row-item .td-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
#app .content .table-wrapper .table-area .tb-right .tb-body .row-item:nth-of-type(2n) {
  background-color: #e8e8e8;
}
#app .content .banner-area {
  padding: 0 19.4% calc(var(--scale) * 44px) 19.4%;
}
#app .content .banner-area .sub-title {
  text-align: center;
  margin-bottom: calc(var(--scale) * 24px);
}
#app .content .banner-area .banner-wrapper {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--scale) * 20px);
}
#app .content .banner-area .banner-wrapper .banner-item {
  padding: calc(var(--scale) * 19px) calc(var(--scale) * 9px);
  flex: 1;
  border-radius: calc(var(--scale) * 10px);
  background: #FFF;
  box-shadow: calc(var(--scale) * 3px) calc(var(--scale) * 3px) calc(var(--scale) * 10px) calc(var(--scale) * 6px) rgba(0, 0, 0, 0.1490196078);
}
#app .content .banner-area .banner-wrapper .banner-item img {
  display: block;
  margin-bottom: calc(var(--scale) * 21px);
  width: 100%;
}
#app .content .banner-area .banner-wrapper .banner-item a {
  display: block;
  font-size: calc(var(--scale) * 14px);
  line-height: 1.6;
  color: #14206C;
  text-decoration: none;
  font-weight: 700;
}
#app .content .QA-item .sub-title {
  margin-bottom: calc(var(--scale) * 25px);
  text-align: center;
}
#app .content .QA-item .list-wrapper {
  padding: 0 19.4% calc(var(--scale) * 44px) 19.4%;
}
#app .content .QA-item .list-wrapper .list-item {
  position: relative;
  padding-left: calc(var(--scale) * 25px);
  margin-bottom: calc(var(--scale) * 25px);
}
#app .content .QA-item .list-wrapper .list-item:nth-last-of-type(1) {
  margin-bottom: 0;
}
#app .content .QA-item .list-wrapper .list-item .list-title {
  margin-bottom: calc(var(--scale) * 12px);
  font-size: calc(var(--scale) * 14px);
  color: #14206C;
  font-weight: bold;
}
#app .content .QA-item .list-wrapper .list-item .list-ctx {
  font-size: calc(var(--scale) * 14px);
  color: #414042;
  line-height: 1.8;
}
#app .content .QA-item .list-wrapper .list-item:after {
  position: absolute;
  left: 0;
  top: calc(var(--scale) * -1px);
  content: "•";
  color: #4A4459;
  font-size: calc(var(--scale) * 18px);
  font-weight: bold;
}
#app .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 19.4% 0 19.4%;
  background-size: 100% 100%;
  aspect-ratio: 2880/806;
  background-image: url("../assets/images/footer.png");
}
#app .footer .title {
  margin-bottom: calc(var(--scale) * 8px);
  font-size: calc(var(--scale) * 24px);
  font-weight: 600;
  line-height: 3;
  text-align: center;
  color: white;
}
#app .footer .sub-title {
  position: relative;
  width: 100%;
  font-size: calc(var(--scale) * 18px);
  margin-bottom: calc(var(--scale) * 20px);
  color: white;
  text-align: center;
}
#app .footer .sub-title:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 30%;
  height: calc(var(--scale) * 2px);
  content: "";
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .sub-title:after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  width: 30%;
  height: calc(var(--scale) * 2px);
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .footer-ctx {
  font-size: calc(var(--scale) * 16px);
  line-height: 1.5;
}
#app .footer .footer-ctx p {
  margin-bottom: calc(var(--scale) * 20px);
  color: white;
}
#app .footer .footer-ctx .em {
  color: #fcbc40;
  font-weight: 500;
}
