
#app {
  width: 100%;
  height: 100%;
  background-color: #333333;
  ul {
    padding-left: .15rem;
  }
  .banner {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 1440 / 183;
    background-image: url('../assets/images/banner_bg.png');
    background-size: 100% 100%;
    .img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .page-title {
        font-size: .4rem;
        font-weight: 700;
        color: white;
      }
      img {
        width: 2.14rem;
      }

    }
  }
  .content {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    .sub-title {
      font-size: .24rem;
      color: #14206C;
      font-weight: 700;
      white-space: nowrap;
    }
    .center {
      text-align: center;
    }
    .block-item {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: .22rem 2.81rem .26rem 2.72rem;
      gap: .7rem;
      background-color: white;
      color: #414042;
      img {
        width: 3.17rem;
      }
      .w391 {
        width: 3.91rem;
      }
      .block-left {
        display: flex;
        flex-direction: column;
        flex: 1;
        .desc-name {
          margin-bottom: .16rem;
        }
        .sub-title {
          margin-bottom: .16rem;
        }

      }
      .block-right {
        display: flex;
        flex-direction: column;
        width: 52.2%;
        text-align: left;
        .sub-title {
          margin-bottom: .23rem;
        }
      }
      .desc-t {
        font-size: .14rem;
        line-height: .22rem;
      }
      .desc-info {
        color: #414042;
        font-size: .14rem;
        line-height: .22rem;
        .b1-list-item {
          margin-bottom: .2rem;
          &:nth-last-of-type(1) {
            margin-bottom: 0;
          }
        }
      }
      &:nth-of-type(2n) {
        background-color: #F0F0F0;
      }
    }
    .align-center {
      align-items: center;
    }
    .table-wrapper {
      margin-bottom: .44rem;
      padding: .44rem 2.81rem 0 2.72rem;
      .sub-title {
        margin-bottom: .12rem;
        padding-bottom: .05rem;
        width: fit-content;
        border-bottom: .03rem solid #FCBC40;
      }
      .table-area {
        display: flex;
        .tb-left {
          width: 1.5rem;
          background-color: #A2DAF6;
          .td-item {
            padding-left: .05rem;
            font-size: .14rem;
            line-height: .47rem;
            height: .47rem;
            font-weight: bold;
            color: #14206C;
          }
        }
        .tb-right {
          flex:  1;
          .tb-head {
            display: flex;
            height: .47rem;
            line-height: .47rem;
            color: #14206C;
            font-size: .14rem;
            font-weight: bold;
            background-color: #A2DAF6;
            .td-item {
              flex: 1;
              text-align: center;
            }
          }
          .tb-body {
            .row-item {
              display: flex;
              height: .47rem;
              font-size: .14rem;
              color: #414042;
              background-color: #fcfcfc;
              .td-item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
              }
              &:nth-of-type(2n) {
                background-color: #e8e8e8
              }
            }
          }

        }
      }
    }
    .banner-area {
      padding: 0 2.81rem .44rem 2.72rem;
      .sub-title {
        text-align: center;
        margin-bottom: .24rem;
      }
      .banner-wrapper {
        display: flex;
        justify-content: space-between;
        gap: .2rem;
        .banner-item {
          padding: .19rem .09rem;
          flex: 1;
          border-radius: .1rem;
          background: #FFF;
          box-shadow: .03rem .03rem .1rem .06rem #00000026;
          img {
            display: block;
            margin-bottom: .21rem;
            width: 100%;
          }
          a {
            display: block;
            font-size: .14rem;
            color: #14206C;
            text-decoration: none;
            font-weight: 700;
          }
        }
      }
    }
    .QA-item {
      .sub-title {
        margin-bottom: .25rem;
        text-align: center;
      }
      .list-wrapper {
        padding: 0 2.81rem .44rem 2.72rem;
        .list-item {
          position: relative;
          padding-left: .25rem;
          margin-bottom: .25rem;
          &:nth-last-of-type(1) {
            margin-bottom: 0;
          }
          .list-title {
            margin-bottom: .12rem;
            font-size: .14rem;
            color: #14206C;
            font-weight: bold;
          }
          .list-ctx {
            font-size: .14rem;
            color: #414042;
          }
          &:after {
            position: absolute;
            left: 0;
            top: -0.01rem;
            content: '•';
            color: #4A4459;
            font-size: .18rem;
            font-weight: bold;
          }
        }
      }
    }

  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 2.81rem 0 2.72rem;
    aspect-ratio: 2880 / 806;
    background-size: 100% 100%;
    background-image: url('../assets/images/footer.png');
      .title {
        margin-bottom: .08rem;
        font-size: .26rem;
        font-weight: 600;
        line-height: .5rem;
        text-align: center;
        color: white;
      }
      .sub-title {
        position: relative;
        width: 100%;
        font-size: .18rem;
        margin-bottom: .2rem;
        color: white;
        text-align: center;
        &:before {
          position: absolute;
          left: 0;
          top: 50%;
          width: 30%;
          height: 0.02rem;
          content: '';
          background-color: white;
          transform: translateY(-50%);
        }
        &:after{
          position: absolute;
          right: 0;
          top: 50%;
          content: '';
          width: 30%;
          height: 0.02rem;
          background-color: white;
          transform: translateY(-50%);
        }
      }
    .footer-ctx {
      font-size: .16rem;
      line-height: .25rem;
      p {
        margin-bottom: .2rem;
        color: white;
      }
      .em {
        color: #fcbc40;
        font-weight: 500;
      }
    }
  }
}
