@import "./function";
#app {
  width: 100%;
  height: 100%;
  background-color: #333333;
  ul {
    padding-left: transSize(15);
  }
  .banner {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 1440 / 183;
    background-image: url('../assets/images/banner_bg.png');
    background-size: 100% 100%;
    .img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .page-title {
        font-size: transSize(40);
        font-weight: 700;
        color: white;
      }
      img {
        width: transSize(214);
      }

    }
  }
  .content {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    .sub-title {
      font-size: transSize(24);
      color: #14206C;
      font-weight: 700;
      white-space: nowrap;
    }
    .center {
      text-align: center;
    }
    .block-item {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: transSize(22) 19.4% transSize(26) 19.4%;
      gap: transSize(70);
      background-color: white;
      color: #414042;
      img {
        width: transSize(317);
      }
      .w391 {
        width: transSize(391);
      }
      .block-left {
        display: flex;
        flex-direction: column;
        flex: 1;
        .desc-name {
          margin-bottom: transSize(16);
        }
        .sub-title {
          margin-bottom: transSize(16);
        }

      }
      .block-right {
        display: flex;
        flex-direction: column;
        width: 52.2%;
        text-align: left;
        .sub-title {
          margin-bottom: transSize(23);
        }
      }
      .desc-t {
        font-size: transSize(14);
        line-height: transSize(22);
      }
      .desc-info {
        color: #414042;
        font-size: transSize(14);
        line-height: transSize(22);
        .b1-list-item {
          margin-bottom: transSize(20);
          &:nth-last-of-type(1) {
            margin-bottom: 0;
          }
        }
      }
      &:nth-of-type(2n) {
        background-color: #F0F0F0;
      }
    }
    .align-center {
      align-items: center;
    }
    .table-wrapper {
      margin-bottom: transSize(44);
      padding: transSize(44) 19.4% 0 19.4%;
      .sub-title {
        margin-bottom: transSize(12);
        padding-bottom: transSize(5);
        width: fit-content;
        border-bottom: transSize(3) solid #FCBC40;
      }
      .table-area {
        display: flex;
        .tb-left {
          width: transSize(150);
          background-color: #A2DAF6;
          .td-item {
            padding-left: transSize(5);
            font-size: transSize(14);
            line-height: transSize(47);
            height: transSize(47);
            font-weight: bold;
            color: #14206C;
          }
        }
        .tb-right {
          flex:  1;
          .tb-head {
            display: flex;
            line-height: 3.2;
            color: #14206C;
            font-size: transSize(14);
            font-weight: bold;
            background-color: #A2DAF6;
            .td-item {
              flex: 1;
              text-align: center;
            }
          }
          .tb-body {
            .row-item {
              display: flex;
              line-height: 3.2;
              font-size: transSize(14);
              color: #414042;
              background-color: #fcfcfc;
              .td-item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
              }
              &:nth-of-type(2n) {
                background-color: #e8e8e8
              }
            }
          }

        }
      }
    }
    .banner-area {
      padding: 0 19.4% transSize(44) 19.4%;
      .sub-title {
        text-align: center;
        margin-bottom: transSize(24);
      }
      .banner-wrapper {
        display: flex;
        justify-content: space-between;
        gap: transSize(20);
        .banner-item {
          padding: transSize(19) transSize(9);
          flex: 1;
          border-radius: transSize(10);
          background: #FFF;
          box-shadow: transSize(3) transSize(3) transSize(10) transSize(6) #00000026;
          img {
            display: block;
            margin-bottom: transSize(21);
            width: 100%;
          }
          a {
            display: block;
            font-size: transSize(14);
            line-height: 1.6;
            color: #14206C;
            text-decoration: none;
            font-weight: 700;
          }
        }
      }
    }
    .QA-item {
      .sub-title {
        margin-bottom: transSize(25);
        text-align: center;
      }
      .list-wrapper {
        padding: 0 19.4% transSize(44) 19.4%;
        .list-item {
          position: relative;
          padding-left: transSize(25);
          margin-bottom: transSize(25);
          &:nth-last-of-type(1) {
            margin-bottom: 0;
          }
          .list-title {
            margin-bottom: transSize(12);
            font-size: transSize(14);
            color: #14206C;
            font-weight: bold;
          }
          .list-ctx {
            font-size: transSize(14);
            color: #414042;
            line-height: 1.8;
          }
          &:after {
            position: absolute;
            left: 0;
            top: transSize(-1);
            content: '•';
            color: #4A4459;
            font-size: transSize(18);
            font-weight: bold;
          }
        }
      }
    }

  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 19.4% 0 19.4%;
    background-size: 100% 100%;
    aspect-ratio: 2880/806;
    background-image: url('../assets/images/footer.png');
      .title {
        margin-bottom: transSize(8);
        font-size: transSize(24);
        font-weight: 600;
        line-height: 3;
        text-align: center;
        color: white;
      }
      .sub-title {
        position: relative;
        width: 100%;
        font-size: transSize(18);
        margin-bottom: transSize(20);
        color: white;
        text-align: center;
        &:before {
          position: absolute;
          left: 0;
          top: 50%;
          width: 30%;
          height: transSize(2);
          content: '';
          background-color: white;
          transform: translateY(-50%);
        }
        &:after{
          position: absolute;
          right: 0;
          top: 50%;
          content: '';
          width: 30%;
          height: transSize(2);
          background-color: white;
          transform: translateY(-50%);
        }
      }
    .footer-ctx {
      font-size: transSize(16);
      line-height: 1.5;
      p {
        margin-bottom: transSize(20);
        color: white;
      }
      .em {
        color: #fcbc40;
        font-weight: 500;
      }
    }
  }
}
