@font-face {
   font-family: 'kmfont';
   src: url('../assets/font/SourceHanSansCN-Medium.otf');

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: disc;
}
html,body {
  width: 100vw;
  min-width: 1200px;

}

#app {
  width: 100%;
  height: 100%;
  background-color: #333333;
  ul {
    padding-left: 15px;
  }
  .banner {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 1440 / 183;
    background-image: url('../assets/images/banner_bg.png');
    background-size: 100% 100%;
    .img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .page-title {
        font-family: 'kmfont';
        font-size: 40px;
        font-weight: 700;
        color: white;
      }

    }
  }
  .content {
    width: 100%;
    background-color: white;
    .block-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .22rem 2.81rem .26rem 2.72rem;
      gap: .7rem;
      background-color: white;
      color: #414042;
      .block-left {
        flex: 1;
        min-width: 22vw;
        img {
        }
      }
      .img-w {
        display: flex;
        align-items: center;
      }
      .block-right {
        width: 52.2%;
        text-align: left;
      }
      .desc-name {
        font-family: 'kmfont';
        font-size: 24px;
        color: #14206C;
        margin-bottom: .23rem;
        white-space: nowrap;
      }
      .desc-t {
        font-size: 14px;
      }
      .desc-info {
        color: #414042;
        font-size: 14px;
      }
      &:nth-of-type(2n) {
        background-color: #F0F0F0;
      }
    }
    .table-wrapper {
      margin-bottom: .44rem;
      padding: .44rem 2.81rem 0 2.72rem;
      .table-title {
        margin-bottom: 12px;
        padding-bottom: 5px;
        font-family: 'kmfont';
        font-size: 24px;
        color: #14206C;
        width: fit-content;
        border-bottom: 3px solid #FCBC40;
      }
      .table-area {
        display: flex;
        .tb-left {
          width: 150px;
          background-color: #A2DAF6;
          .td-item {
            padding-left: 5px;
            font-size: 14px;
            line-height: 47px;
            height: 47px;
            font-weight: bold;
            color: #14206C;
          }
        }
        .tb-right {
          flex:  1;
          .tb-head {
            display: flex;
            height: 47px;
            line-height: 47px;
            color: #14206C;
            font-size: 14px;
            font-weight: bold;
            background-color: #A2DAF6;
            .td-item {
              flex: 1;
              text-align: center;
            }
          }
          .tb-body {
            .row-item {
              display: flex;
              height: 47px;
              font-size: 14px;
              color: #414042;
              background-color: #fcfcfc;
              .td-item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
              }
              &:nth-of-type(2n) {
                background-color: #e8e8e8
              }
            }
          }

        }
      }
    }
    .banner-area {
      padding: 0 2.81rem .44rem 2.72rem;
      .banner-title {
        margin-bottom: .24rem;
        font-family: 'kmfont';
        font-size: 24px;
        color: #14206C;
        text-align: center;
      }
      .banner-wrapper {
        display: flex;
        justify-content: space-between;
        gap: .2rem;
        .banner-item {
          padding: .19rem 9px;
          flex: 1;
          border-radius: 10px;
          background: #FFF;
          box-shadow: 3px 3px 10px 6px #00000026;
          img {
            display: block;
            margin-bottom: .21rem;
            width: 100%;
          }
          a {
            display: block;
            font-size: 14px;
            color: #14206C;
            text-decoration: none;
            font-weight: 700;
          }
        }
      }
    }
    .QA-item {
      .title {
        margin-bottom: .25rem;
        font-family: 'kmfont';
        font-size: 24px;
        color: #14206C;
        text-align: center;
      }
      .list-wrapper {
        padding: 0 2.81rem .44rem 2.72rem;
        .list-item {
          position: relative;
          padding-left: .25rem;
          margin-bottom: .25rem;
          &:nth-last-of-type(1) {
            margin-bottom: 0;
          }
          .list-title {
            margin-bottom: 12px;
            font-family: 'kmfont';
            font-size: 14px;
            color: #14206C;
            font-weight: bold;
          }
          .list-ctx {
            font-size: 14px;
            color: #414042;
          }
          &:after {
            position: absolute;
            left: 0;
            top: 0px;
            content: '•';
            color: #4A4459;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
    }

  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 2.81rem 0 2.72rem;
    aspect-ratio: 2880 / 806;
    background-size: 100% 100%;
    background-image: url('../assets/images/footer.png');
      .title {
        margin-bottom: 8px;
        font-size: 26px;
        font-weight: 600;
        line-height: 50px;
        text-align: center;
        color: white;
      }
      .sub-title {
        position: relative;
        width: 100%;
        font-size: 18px;
        margin-bottom: .2rem;
        color: white;
        text-align: center;
        &:before {
          position: absolute;
          left: 0;
          top: 50%;
          width: 30%;
          height: 2px;
          content: '';
          background-color: white;
          transform: translateY(-50%);
        }
        &:after{
          position: absolute;
          right: 0;
          top: 50%;
          content: '';
          width: 30%;
          height: 2px;
          background-color: white;
          transform: translateY(-50%);
        }
      }
    .footer-ctx {
      font-size: 16px;
      line-height: 25px;
      p {
        margin-bottom: .2rem;
        color: white;
      }
      .em {
        color: #fcbc40;
        font-weight: 500;
      }
    }
  }
}
