@charset "UTF-8";
ul {
  padding-left: 15px;
}

#app {
  font-size: 14px;
}
#app .sub-title {
  color: #14206C;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#app .center {
  text-align: center;
}
#app .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1440/168;
  color: #FFF;
  font-size: 42px;
  font-weight: 700;
  background-image: url("../assets/images/wkdj/banner.png");
  background-size: 100% 100%;
}
#app .block1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 59px;
  padding-left: 19.4%;
  padding-right: 19.4%;
  gap: 33px;
}
#app .block1 .block-left {
  display: flex;
  align-items: flex-end;
  padding-top: 25px;
  width: 46.7%;
}
#app .block1 .block-left img {
  width: 100%;
  display: block;
}
#app .block1 .block-right {
  width: 51.2%;
}
#app .block1 .block-right .title {
  margin-bottom: 8px;
  color: #14206C;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
#app .block1 .block-right ul {
  flex: 1;
}
#app .block1 .block-right ul li {
  margin-top: 20px;
  color: #414042;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 157.143%;
}
#app .block1 .block-right ul li:nth-of-type(1) {
  margin-top: 0;
}
#app .block2 {
  padding-left: 19.4%;
  padding-right: 10.4%;
  margin-top: 39px;
  margin-bottom: 39px;
}
#app .block2 .title {
  color: #14206C;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.91; /* 191.667% */
  border-bottom: 1px solid #C5C5C5;
}
#app .block2 .title div {
  margin-left: 7.2%;
}
#app .block2 .img-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 3px;
}
#app .block2 .img-wrapper img {
  flex: 373;
  width: 377px;
}
#app .block2 .table-area {
  font-size: 14px;
}
#app .block2 .table-area .tb-header {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
  font-weight: 700;
  color: #414042;
}
#app .block2 .table-area .tb-header .td-item {
  padding: 11px 0;
  text-align: center;
  background-color: #e8e8e8;
}
#app .block2 .table-area .tb-header .active {
  color: #14206C;
  background-color: #a2daf5;
}
#app .block2 .table-area .tb-body .tr-item {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
#app .block2 .table-area .tb-body .tr-item .td-item {
  padding: 11px 0rem;
  text-align: center;
  color: #414042;
}
#app .block2 .table-area .tb-body .tr-item .td-item .text-area {
  margin: 0 auto;
  width: 65%;
}
#app .block2 .table-area .tb-body .tr-item .td-item .text-area1 {
  margin: 0 auto;
  width: 80%;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(1) {
  font-weight: 700;
}
#app .block2 .table-area .tb-body .tr-item:nth-of-type(2n+1) .td-item {
  background-color: #f5f5f5;
}
#app .block2 .table-area .tb-body .tr-item:nth-of-type(2n) .td-item {
  background-color: #e8e8e8;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(1) {
  flex: 127;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(2) {
  flex: 377;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(3) {
  flex: 372;
}
#app .block3 {
  display: flex;
  align-items: flex-end;
  margin-bottom: 43px;
  padding: 18px 19.4%;
  background: #F0F0F0;
}
#app .block3 .block-left .title {
  margin-bottom: 15px;
  color: #14206C;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
#app .block3 .block-left ul {
  color: #414042;
  font-size: 14px;
}
#app .block3 .block-left ul .sub-ul li {
  list-style-type: none;
}
#app .block3 .block-right {
  display: flex;
  align-items: flex-end;
  margin-left: 75px;
}
#app .block3 .block-right img {
  width: 199px;
}
#app .block4 {
  display: flex;
  align-items: flex-end;
  padding: 0 19.4%;
}
#app .block4 .block-left {
  width: 50%;
}
#app .block4 .block-left img {
  width: 312px;
}
#app .block4 .block-right .title {
  margin-bottom: 11px;
  color: #14206C;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
#app .block4 .block-right ul {
  color: #414042;
}
#app .block4 .block-right ul li {
  line-height: 1.5;
}
#app .tab-block {
  margin-top: 30px;
  margin-bottom: 54px;
}
#app .tab-block .title {
  margin-bottom: 11px;
  color: #14206C;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
}
#app .tab-block .tab-area {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #C5C5C5;
}
#app .tab-block .tab-area .tab-item {
  padding: 16px 30px;
  color: #636363;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
#app .tab-block .tab-area .active {
  color: #14206C;
  border-bottom: 2px solid #ECB62D;
}
#app .tab-block .tab-content {
  padding-top: 2px;
}
#app .tab-block .tab-content .tab-1 {
  width: 100%;
}
#app .tab-block .tab-content table {
  margin: 0 auto;
  padding: 0 19.4%;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}
#app .tab-block .tab-content table thead {
  color: #14206C;
  background-color: #a2daf5;
}
#app .tab-block .tab-content table thead th {
  padding: 5px;
  text-align: left;
}
#app .tab-block .tab-content table thead th:nth-of-type(1) {
  text-align: center;
}
#app .tab-block .tab-content table thead th:nth-of-type(2) {
  text-align: center;
}
#app .tab-block .tab-content table tbody td {
  padding: 0 0 0 2px;
}
#app .tab-block .tab-content table tbody tr:nth-of-type(2n) {
  background-color: #fcfcfc;
}
#app .tab-block .tab-content table tbody tr:nth-of-type(2n+1) {
  background-color: #e8e8e8;
}
#app .tab-block .tab-content .tb2 {
  margin-top: 0.4rem;
}
#app .tab-block .tab-content .tb2 tbody tr td:nth-of-type(1) {
  color: #14206C;
  font-weight: 700;
  writing-mode: vertical-lr;
  padding: 5px 0;
  background-color: #a2daf5;
}
#app .tab-block .tab-content .tb2 tbody tr:nth-of-type(2n+1) td {
  background-color: #e8e8e8;
}
#app .tab-block .tab-content .tb2 tbody tr:nth-of-type(2n) {
  background-color: #fcfcfc;
}
#app .banner-area {
  padding: 0 19.4% 44px 19.4%;
}
#app .banner-area .sub-title {
  text-align: center;
  margin-bottom: 24px;
}
#app .banner-area .banner-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
#app .banner-area .banner-wrapper .banner-item {
  padding: 19px 9px;
  flex: 1;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.1490196078);
}
#app .banner-area .banner-wrapper .banner-item img {
  display: block;
  margin-bottom: 21px;
  width: 100%;
}
#app .banner-area .banner-wrapper .banner-item a {
  display: block;
  font-size: 14px;
  color: #14206C;
  text-decoration: none;
  font-weight: 700;
}
#app .QA-item .sub-title {
  margin-bottom: 25px;
  text-align: center;
}
#app .QA-item .list-wrapper {
  padding: 0 19.4% 44px 19.4%;
}
#app .QA-item .list-wrapper .list-item {
  position: relative;
  padding-left: 25px;
  margin-bottom: 25px;
}
#app .QA-item .list-wrapper .list-item:nth-last-of-type(1) {
  margin-bottom: 0;
}
#app .QA-item .list-wrapper .list-item .list-title {
  margin-bottom: 12px;
  font-size: 14px;
  color: #14206C;
  font-weight: bold;
}
#app .QA-item .list-wrapper .list-item .list-ctx {
  font-size: 14px;
  color: #414042;
}
#app .QA-item .list-wrapper .list-item:after {
  position: absolute;
  left: 0;
  top: -1px;
  content: "•";
  color: #4A4459;
  font-size: 18px;
  font-weight: bold;
}
#app .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 34px 19.4% 34px 19.4%;
  background-size: cover;
  background-image: url("../assets/images/footer.png");
}
#app .footer .title {
  margin-bottom: 8px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.91;
  text-align: center;
  color: white;
}
#app .footer .sub-title {
  position: relative;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}
#app .footer .sub-title:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 30%;
  height: 2px;
  content: "";
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .sub-title:after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  width: 30%;
  height: 2px;
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .footer-ctx {
  font-size: 16px;
  line-height: 25px;
}
#app .footer .footer-ctx p {
  margin-bottom: 20px;
  color: white;
}
#app .footer .footer-ctx .em {
  color: #fcbc40;
  font-weight: 500;
}
