
ul {
  padding-left: 15px;
}

#app {
  font-size: 14px;
  .sub-title {
    color: #14206C;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .center {
    text-align: center;
  }
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1440 / 168;
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
    background-image: url('../assets/images/wkdj/banner.png');
    background-size: 100% 100%;
  }

  .block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 59px;
    padding-left: 19.4%;
    padding-right: 19.4%;
    gap: 33px;
    .block-left {
      display: flex;
      align-items: flex-end;
      padding-top: 25px;
      width: 46.7%;
      img {
        display: block;
      }
    }
    .block-right {
      width: 51.2%;
      .title {
        margin-bottom: 8px;
        color: #14206C;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
      }
      ul {
        flex: 1;
        li {
          margin-top: 20px;
          color: #414042;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 157.143%;
          &:nth-of-type(1) {
            margin-top: 0;
          }
        }
      }
    }
  }
  .block2{
    padding-left: 19.4%;
    padding-right: 10.4%;
    margin-top: 39px;
    margin-bottom: 39px;
    .title {
      color: #14206C;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.91; /* 191.667% */
      border-bottom: 1px solid #C5C5C5;
      div {
        margin-left: 7.2%;
      }
    }
    .img-wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 3px;
      img {
        flex: 373;
        width: 377px;
      }
    }
    .table-area {
      font-size: 14px;
      .tb-header {
        display: flex;
        justify-content: space-between;
        gap: 4px;
        width: 100%;

        font-weight: 700;
        color: #414042;
        .td-item {
          padding: 11px 0;
          text-align: center;
          background-color: #e8e8e8;
        }
        .active {
          color: #14206C;
          background-color: #a2daf5;
        }
      }
      .tb-body {
        .tr-item {
          display: flex;
          justify-content: space-between;
          gap: 4px;
          .td-item {
            padding: 11px 0rem;
            text-align: center;
            color: #414042;
            .text-area {
              margin: 0 auto;
              width: 65%;
            }
            .text-area1 {
              margin: 0 auto;
              width: 80%;
            }
            &:nth-of-type(1) {
              font-weight: 700;
            }
          }
        }
        .tr-item:nth-of-type(2n+1) {
          .td-item {
            background-color:#f5f5f5
          }
        }
        .tr-item:nth-of-type(2n) {
          .td-item {
            background-color:#e8e8e8
          }
        }
        .tr-item {
          .td-item:nth-of-type(1) {
            flex: 127;
          }
          .td-item:nth-of-type(2) {
            flex: 377;
          }
          .td-item:nth-of-type(3) {
            flex: 372;
          }
        }
      }
    }
  }
  .block3{
    display: flex;
    align-items: flex-end;
    margin-bottom: 43px;
    padding: 18px 19.4%;
    background: #F0F0F0;
    .block-left {
      .title {
        margin-bottom: 15px;
        color: #14206C;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
      }
      ul {
        color: #414042;
        font-size: 14px;
        .sub-ul {
          li {
           list-style-type: none;
          }
        }
      }
    }
    .block-right {
      display: flex;
      align-items: flex-end;
      margin-left: 75px;
      img {
        width: 199px
      }
    }
  }
  .block4 {
    display: flex;
    align-items: center;
    padding: 0 19.4%;
    .block-left {
      width: 50%;
    }
    .block-right {
      .title {
        margin-bottom: 11px;
        color: #14206C;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
      }
      ul {
        color: #414042;
        li {
          line-height: 1.5;
        }
      }
    }
  }
  .tab-block{
    margin-top: 30px;
    margin-bottom: 54px;
    .title {
      margin-bottom: 11px;
      color: #14206C;
      font-size: 24px;
      text-align: center;
      font-style: normal;
      font-weight: 700;
    }
    .tab-area {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #C5C5C5;
      .tab-item {
        padding: 16px 30px;
        color: #636363;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
      }
      .active {
        color: #14206C;
        border-bottom: 2px solid #ECB62D;
      }
    }
    .tab-content {
      padding-top: 2px;
      .tab-1 {
        width: 100%;
      }
      table {
        margin: 0 auto;
        padding: 0 19.4%;
        width: 100%;
        border-collapse: separate;
        border-spacing: 1px;
        thead {
          color: #14206C;
          background-color: #a2daf5;
          th {
            padding: 5px;
            text-align: left;
            &:nth-of-type(1) {
              text-align: center;
            }
            &:nth-of-type(2) {
              text-align: center;
            }
          }
        }
        tbody {
          td {
            padding: 0 0 0 2px;
          }
          tr:nth-of-type(2n) {
            background-color: #fcfcfc;
          }
          tr:nth-of-type(2n+1) {
            background-color: #e8e8e8;
          }
        }
      }
      .tb2 {
        margin-top: .4rem;
        tbody {
          tr {
            td:nth-of-type(1) {
              color: #14206C;
              font-weight: 700;
              writing-mode: vertical-lr;
              padding: 5px 0;
              background-color: #a2daf5;
            }
            &:nth-of-type(2n+1) {
              td {
                background-color: #e8e8e8;
              }
            }
            &:nth-of-type(2n) {
              background-color: #fcfcfc;
            }
          }
        }
      }
    }
  }
  .banner-area {
    padding: 0 19.4% 44px 19.4%;
    .sub-title {
      text-align: center;
      margin-bottom: 24px;
    }
    .banner-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      .banner-item {
        padding: 19px 9px;
        flex: 1;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 3px 3px 10px 6px #00000026;
        img {
          display: block;
          margin-bottom: 21px;
          width: 100%;
        }
        a {
          display: block;
          font-size: 14px;
          color: #14206C;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
  .QA-item {
    .sub-title {
      margin-bottom: 25px;
      text-align: center;
    }
    .list-wrapper {
      padding: 0 19.4% 44px 19.4%;
      .list-item {
        position: relative;
        padding-left: 25px;
        margin-bottom: 25px;
        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }
        .list-title {
          margin-bottom: 12px;
          font-size: 14px;
          color: #14206C;
          font-weight: bold;
        }
        .list-ctx {
          font-size: 14px;
          color: #414042;
        }
        &:after {
          position: absolute;
          left: 0;
          top: -1px;
          content: '•';
          color: #4A4459;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 34px 19.4% 34px 19.4%;
    background-size: cover;
    background-image: url('../assets/images/footer.png');
    .title {
      margin-bottom: 8px;
      font-size: 26px;
      font-weight: 600;
      line-height: 1.91;
      text-align: center;
      color: white;
    }
    .sub-title {
      position: relative;
      width: 100%;
      font-size: 18px;
      margin-bottom: 20px;
      color: white;
      text-align: center;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        width: 30%;
        height: 2px;
        content: '';
        background-color: white;
        transform: translateY(-50%);
      }
      &:after{
        position: absolute;
        right: 0;
        top: 50%;
        content: '';
        width: 30%;
        height: 2px;
        background-color: white;
        transform: translateY(-50%);
      }
    }
    .footer-ctx {
      font-size: 16px;
      line-height: 25px;
      p {
        margin-bottom: 20px;
        color: white;
      }
      .em {
        color: #fcbc40;
        font-weight: 500;
      }
    }
  }
}