
ul {
  padding-left: 15px;
}
.error {
  margin-top: 5px;
  font-size: 12px;
  color: red;
}
#app {
  font-size: 14px;
  .sub-title {
    color: #14206C;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .center {
    text-align: center;
  }
  .page-header {
    padding-left: 19.4%;
    img {
      width: 180px;
    }
  }
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 19.4% 34px 19.4%;
    width: 100%;
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
    background-image: url('../assets/images/wkmd/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    .ctx-area {
      .title {
        margin-bottom: 21px;
        color: #FFF;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        .main-title {
          font-size: 36px;
        }
        .sub-title {
          color: #FFF;
          font-size: 30px;
        }
      }
      .item {
        display: flex;
        align-items: center;
        margin-bottom: 26px;
        gap: 14px;
        color: #FCBC40;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        img {
          width: 32px;
        }
      }
      .btn-wrapper {
        display: flex;
        gap: 28px;
        font-size: 24px;
        .btn {
          height: 32px;
          line-height: 32px;
          flex: 1;
          border-radius: 4px;
        }
        .btn1 {
          color: #14206C;
          background-color: #FCBC40;
        }
        .btn2 {
          color: white;
          background-color: transparent;
          border: 1px solid #FCBC40;
        }
      }
    }
    .img-wrapper {
      display: flex;
      align-items: flex-end;
      margin-left: 20px;
      img {
        margin-top: 60px;
        width: 490px;
      }
    }
  }
  .btn {
    margin-top: 16px;
    width: 158px;
    color: #14206C;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.3;
    border-radius: 4px;
    background-color: #fcbc40;
    cursor: pointer;
  }
  .block2{
    padding-left: 19.4%;
    padding-right: 19.4%;
    margin-top: 39px;
    margin-bottom: 39px;
    .title {
      color: #14206C;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.91; /* 191.667% */
      div {
        margin-left: 7.2%;
      }
    }
    .img-wrapper {
      display: flex;
      justify-content: space-between;
      padding-top: 3px;
      img {
        flex: 372;
        width: 377px;
      }
    }
    .table-area {
      font-size: 14px;
      .tb-header {
        display: flex;
        justify-content: space-between;
        gap: 4px;
        width: 100%;

        font-weight: 700;
        color: #414042;
        .td-item {
          padding: 11px 0;
          text-align: center;
          background-color: #e8e8e8;
        }
        .active {
          color: #14206C;
          background-color: #a2daf5;
        }
      }
      .tb-body {
        .tr-item {
          display: flex;
          justify-content: space-between;
          gap: 4px;
          .td-item {
            padding: 11px 0;
            text-align: center;
            color: #414042;
            .text-area {
              margin: 0 auto;
              width: 65%;
            }
            .text-area1 {
              margin: 0 auto;
              width: 80%;
            }
            &:nth-of-type(1) {
              font-weight: 700;
            }
          }
        }
        .tr-item:nth-of-type(2n+1) {
          .td-item {
            background-color:#f5f5f5
          }
        }
        .tr-item:nth-of-type(2n) {
          .td-item {
            background-color:#e8e8e8
          }
        }
        .tr-item {
          .td-item:nth-of-type(1) {
            flex: 127;
          }
          .td-item:nth-of-type(2) {
            flex: 377;
          }
          .td-item:nth-of-type(3) {
            flex: 372;
          }
        }
      }
    }
  }
  .block3{
    display: flex;
    align-items: center;
    margin-bottom: 43px;
    padding: 18px 19.4%;
    background: #F0F0F0;
    .block-left {
      width: 49.8%;
      .title {
        margin-bottom: 15px;
        color: #14206C;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
      }
      ul {
        padding-left: 15px;
        color: #414042;
        font-size: 14px;
        .sub-ul {
          li {
            list-style-type: none;
          }
        }
      }
    }
    .block-right {
      display: flex;
      align-items: flex-end;
      margin-left: 75px;
      img {
        width: 199px;
      }
    }
  }
  .block4 {
    display: flex;
    align-items: flex-end;
    padding: 0 19.4%;
    .block-left {
      width: 50%;
      img {
        width: 312px;
      }
    }
    .block-right {
      .title {
        margin-bottom: 11px;
        color: #14206C;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
      }
      ul {
        color: #414042;
        li {
          line-height: 1.5;
        }
      }
    }
  }
  .tab-block{
    margin-top: 44px;
    margin-bottom: 54px;
    .title {
      margin-bottom: 11px;
      color: #14206C;
      font-size: 24px;
      text-align: center;
      font-style: normal;
      font-weight: 700;
    }
    .tab-area {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid #C5C5C5;
      .tab-item {
        padding: 16px 30px;
        color: #636363;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
      }
      .active {
        color: #14206C;
        border-bottom: 2px solid #ECB62D;
      }
    }
    .tab-content {
      padding-top: 20px;
      .tab-1 {
        width: 100%;
      }
      table {
        margin: 0 auto;
        padding: 0 19.4%;
        width: 100%;
        font-size: 14px;
        border-collapse: separate;
        border-spacing: 1px;
        thead {
          color: #14206C;
          background-color: #a2daf5;
          th {
            font-size: 14px;
            white-space: nowrap;
            padding: 5px;
            text-align: left;
            &:nth-of-type(1) {
              text-align: center;
            }
            &:nth-of-type(2) {
              text-align: center;
            }
          }
        }
        tbody {
          td {
            padding: 0 0 0 2px;
          }
          tr:nth-of-type(2n) {
            background-color: #fcfcfc;
          }
          tr:nth-of-type(2n+1) {
            background-color: #e8e8e8;
          }
        }
      }
      .tb2 {
        margin-top: 40px;
        tbody {
          tr {
            td {
              font-size: 14px;
            }
            td:nth-of-type(1) {
              padding: 5px 0;
              color: #14206C;
              font-weight: 700;
              writing-mode: vertical-lr;
              vertical-align: middle;
              text-align: center;
              background-color: #a2daf5;
            }
            &:nth-of-type(2n+1) {
              td {
                background-color: #e8e8e8;
              }
            }
            &:nth-of-type(2n) {
              background-color: #fcfcfc;
            }
          }
        }
      }
    }
  }
  .banner-area {
    padding: 0 19.4% 44px 19.4%;
    .sub-title {
      text-align: center;
      margin-bottom: 24px;
    }
    .banner-wrapper {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      .banner-item {
        padding: 19px 9px;
        flex: 1;
        border-radius: 10px;
        background: #FFF;
        box-shadow: 3px 3px 10px 6px #00000026;
        img {
          display: block;
          margin-bottom: 21px;
          width: 100%;
        }
        .banner-desc{
          display: block;
          font-size: 14px;
          color: #14206C;
          text-decoration: none;
          font-weight: 700;
          height: 45px;
          border-bottom: 1px solid #465052;
        }
        .banner-href {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 11px;
          color: #FCBC40;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          cursor: pointer;
          .href-icon {
            margin-bottom: 0;
            width: 25px;
          }
        }
        .btn {
          width: 100%;
          background-color: transparent;
        }
      }
    }
  }
  .QA-item {
    .sub-title {
      margin-bottom: 25px;
      text-align: center;
    }
    .list-wrapper {
      padding: 0 19.4% 44px 19.4%;
      .list-item {
        position: relative;
        padding-left: 25px;
        margin-bottom: 25px;
        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }
        .list-title {
          margin-bottom: 12px;
          font-size: 14px;
          color: #14206C;
          font-weight: bold;
        }
        .list-ctx {
          font-size: 14px;
          color: #414042;
        }
        &:after {
          position: absolute;
          left: 0;
          top: -1px;
          content: '•';
          color: #4A4459;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 27px 19.4% 44px 19.4%;
    background-color: #102b5b;
    .title {
      margin-bottom: 8px;
      font-size: 26px;
      font-weight: 600;
      line-height: 1.91;
      text-align: center;
      color: white;
    }
    .sub-title {
      position: relative;
      width: 100%;
      font-size: 18px;
      margin-bottom: 20px;
      color: white;
      text-align: center;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        width: 30%;
        height: 2px;
        content: '';
        background-color: white;
        transform: translateY(-50%);
      }
      &:after{
        position: absolute;
        right: 0;
        top: 50%;
        content: '';
        width: 30%;
        height: 2px;
        background-color: white;
        transform: translateY(-50%);
      }
    }
    .footer-ctx {
      margin-bottom: 44px;
      font-size: 16px;
      line-height: 1.51;
      p {
        margin-bottom: 20px;
        color: white;
      }
      .em {
        color: #fcbc40;
        font-weight: 500;
      }
    }
    .title-desc {
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
    .require-tip {
      color: white;
      font-size: 12px;
    }
    .footer-form {
      width: 100%;
      .input-area {
        display: flex;
        justify-content: space-between;
        gap: 57px;
        width: 100%;
        .item {
          flex: 1;
          color: white;
          font-size: 14px;
          input {
            margin-top: 5px;
            width: 100%;
            line-height: 1.4;
            font-size: 14px;
            outline: none;
            border: none;
          }
        }
      }
      .submit-area {
        display: flex;
        justify-content: space-between;
        gap: 57px;
        margin-top: 25px;
        .item {
          flex: 1;
        }
        input {
          color: #14206C;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.9;
          border-radius: 4px;
          background-color: #fcbc40;
          cursor: pointer;
          outline: none;
          border: none;
        }

      }
    }
  }
  .page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    gap: 22px;
    background: rgba(217, 217, 217, 0.50);
    color: rgba(70, 80, 82, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    img {
      width: 123px
    }
  }

}