@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: disc;
}

html, body {
  width: 100vw;
  margin: 0 auto;
  font-size: 0.14rem;
  background-color: white;
}

ul {
  padding-left: 0.15rem;
}

#app .sub-title {
  color: #14206C;
  font-family: Inter;
  font-size: 0.24rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#app .center {
  text-align: center;
}
#app .page-header {
  padding-left: 2.75rem;
}
#app .page-header img {
  width: 1.8rem;
}
#app .banner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.34rem 2.75rem 0.22rem 2.75rem;
  width: 100%;
  aspect-ratio: 1440/369;
  color: #FFF;
  font-family: Inter;
  font-size: 0.42rem;
  font-weight: 700;
  background-image: url("../assets/images/wkmd/banner.png");
  background-size: 100% 100%;
}
#app .banner .ctx-area .title {
  margin-bottom: 0.21rem;
  color: #FFF;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
#app .banner .ctx-area .title .main-title {
  font-size: 0.36rem;
}
#app .banner .ctx-area .title .sub-title {
  color: #FFF;
  font-size: 0.3rem;
}
#app .banner .ctx-area .item {
  display: flex;
  align-items: center;
  margin-bottom: 0.26rem;
  gap: 0.14rem;
  color: #FCBC40;
  font-family: Arial;
  font-size: 0.24rem;
  font-style: normal;
  font-weight: 700;
}
#app .banner .ctx-area .item img {
  width: 0.32rem;
}
#app .banner .ctx-area .btn-wrapper {
  display: flex;
  gap: 0.28rem;
  font-size: 0.14rem;
}
#app .banner .ctx-area .btn-wrapper .btn {
  height: 0.32rem;
  line-height: 0.32rem;
  flex: 1;
  border-radius: 0.04rem;
}
#app .banner .ctx-area .btn-wrapper .btn1 {
  color: #14206C;
  background-color: #FCBC40;
}
#app .banner .ctx-area .btn-wrapper .btn2 {
  color: white;
  background-color: transparent;
  border: 0.01rem solid #FCBC40;
}
#app .banner .img-wrapper {
  display: flex;
  align-items: flex-end;
  margin-left: 0.2rem;
}
#app .banner .img-wrapper img {
  width: 4.9rem;
}
#app .btn {
  margin-top: 0.16rem;
  width: 1.58rem;
  color: #14206C;
  text-align: center;
  font-family: Arial;
  font-size: 0.14rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.32rem;
  height: 0.32rem;
  border-radius: 0.04rem;
  background-color: #fcbc40;
  cursor: pointer;
}
#app .block2 {
  padding-left: 2.74rem;
  padding-right: 2.7rem;
  margin-top: 0.39rem;
  margin-bottom: 0.39rem;
}
#app .block2 .title {
  color: #14206C;
  text-align: center;
  font-family: Arial;
  font-size: 0.24rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.46rem; /* 191.667% */
  border-bottom: 0.01rem solid #C5C5C5;
}
#app .block2 .img-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 0.03rem;
}
#app .block2 .img-wrapper img {
  width: 50%;
}
#app .block2 .table-area {
  font-size: 0.14rem;
}
#app .block2 .table-area .tb-header {
  display: flex;
  justify-content: space-between;
  gap: 0.04rem;
  width: 100%;
  font-weight: 700;
  color: #414042;
}
#app .block2 .table-area .tb-header .td-item {
  padding: 0.11rem 0;
  text-align: center;
  background-color: #e8e8e8;
}
#app .block2 .table-area .tb-header .active {
  color: #14206C;
  background-color: #a2daf5;
}
#app .block2 .table-area .tb-body .tr-item {
  display: flex;
  justify-content: space-between;
  gap: 0.04rem;
}
#app .block2 .table-area .tb-body .tr-item .td-item {
  padding: 0.11rem 0rem;
  text-align: center;
  color: #414042;
}
#app .block2 .table-area .tb-body .tr-item .td-item .text-area {
  margin: 0 auto;
  width: 65%;
}
#app .block2 .table-area .tb-body .tr-item .td-item .text-area1 {
  margin: 0 auto;
  width: 80%;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(1) {
  font-weight: 700;
}
#app .block2 .table-area .tb-body .tr-item:nth-of-type(2n+1) .td-item {
  background-color: #f5f5f5;
}
#app .block2 .table-area .tb-body .tr-item:nth-of-type(2n) .td-item {
  background-color: #e8e8e8;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(1) {
  flex: 127;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(2) {
  flex: 377;
}
#app .block2 .table-area .tb-body .tr-item .td-item:nth-of-type(3) {
  flex: 372;
}
#app .block3 {
  display: flex;
  align-items: center;
  margin-bottom: 0.43rem;
  padding: 0.18rem 2.79rem;
  border-top: 0.01rem solid #000;
  border-bottom: 0.01rem solid #000;
  background: #F0F0F0;
}
#app .block3 .block-left .title {
  margin-bottom: 0.15rem;
  color: #14206C;
  font-family: Arial;
  font-size: 0.24rem;
  font-style: normal;
  font-weight: 700;
}
#app .block3 .block-left ul {
  padding-left: 0.15rem;
  color: #414042;
  font-size: 0.14rem;
}
#app .block3 .block-left ul .sub-ul li {
  list-style-type: none;
}
#app .block3 .block-right {
  display: flex;
  align-items: flex-end;
  margin-left: 0.75rem;
}
#app .block3 .block-right img {
  width: 1.99rem;
}
#app .block4 {
  display: flex;
  align-items: flex-end;
  padding: 0 2.79rem;
}
#app .block4 .block-left {
  width: 50%;
}
#app .block4 .block-left img {
  width: 3.12rem;
}
#app .block4 .block-right .title {
  margin-bottom: 0.11rem;
  color: #14206C;
  font-family: Arial;
  font-size: 0.24rem;
  font-style: normal;
  font-weight: 700;
}
#app .block4 .block-right ul {
  color: #414042;
}
#app .block4 .block-right ul li {
  line-height: 1.5;
}
#app .tab-block {
  margin-top: 0.2rem;
  margin-bottom: 0.54rem;
}
#app .tab-block .title {
  margin-bottom: 0.11rem;
  color: #14206C;
  font-family: Arial;
  font-size: 0.24rem;
  text-align: center;
  font-style: normal;
  font-weight: 700;
}
#app .tab-block .tab-area {
  display: flex;
  justify-content: center;
  border-bottom: 0.01rem solid #C5C5C5;
}
#app .tab-block .tab-area .tab-item {
  padding: 0.16rem 0.3rem;
  color: #636363;
  font-size: 0.16rem;
  font-weight: 600;
  cursor: pointer;
}
#app .tab-block .tab-area .active {
  color: #14206C;
  border-bottom: 0.02rem solid #ECB62D;
}
#app .tab-block .tab-content {
  padding-top: 0.2rem;
}
#app .tab-block .tab-content .tab-1 {
  width: 100%;
}
#app .tab-block .tab-content table {
  margin: 0 auto;
  padding: 0 2.7rem;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.01rem;
}
#app .tab-block .tab-content table thead {
  color: #14206C;
  background-color: #a2daf5;
}
#app .tab-block .tab-content table thead th {
  padding: 0.05rem;
  text-align: left;
}
#app .tab-block .tab-content table thead th:nth-of-type(1) {
  text-align: center;
}
#app .tab-block .tab-content table thead th:nth-of-type(2) {
  text-align: center;
}
#app .tab-block .tab-content table tbody td {
  padding: 0 0 0 0.02rem;
}
#app .tab-block .tab-content table tbody tr:nth-of-type(2n) {
  background-color: #fcfcfc;
}
#app .tab-block .tab-content table tbody tr:nth-of-type(2n+1) {
  background-color: #e8e8e8;
}
#app .tab-block .tab-content .tb2 {
  margin-top: 0.4rem;
}
#app .tab-block .tab-content .tb2 tbody tr td:nth-of-type(1) {
  padding: 0.05rem 0;
  color: #14206C;
  font-weight: 700;
  writing-mode: vertical-lr;
  vertical-align: middle;
  text-align: center;
  background-color: #a2daf5;
}
#app .tab-block .tab-content .tb2 tbody tr:nth-of-type(2n+1) td {
  background-color: #e8e8e8;
}
#app .tab-block .tab-content .tb2 tbody tr:nth-of-type(2n) {
  background-color: #fcfcfc;
}
#app .banner-area {
  padding: 0 2.7rem 0.44rem 2.72rem;
}
#app .banner-area .sub-title {
  text-align: center;
  margin-bottom: 0.24rem;
}
#app .banner-area .banner-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
}
#app .banner-area .banner-wrapper .banner-item {
  padding: 0.19rem 0.09rem;
  flex: 1;
  border-radius: 0.1rem;
  background: #FFF;
  box-shadow: 0.03rem 0.03rem 0.1rem 0.06rem rgba(0, 0, 0, 0.1490196078);
}
#app .banner-area .banner-wrapper .banner-item img {
  display: block;
  margin-bottom: 0.21rem;
  width: 100%;
}
#app .banner-area .banner-wrapper .banner-item .banner-desc {
  display: block;
  font-size: 0.14rem;
  color: #14206C;
  text-decoration: none;
  font-weight: 700;
  height: 0.45rem;
  border-bottom: 0.01rem solid #465052;
}
#app .banner-area .banner-wrapper .banner-item .banner-href {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.11rem;
  color: #FCBC40;
  font-size: 0.14rem;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
}
#app .banner-area .banner-wrapper .banner-item .banner-href .href-icon {
  margin-bottom: 0;
  width: 0.25rem;
}
#app .QA-item .sub-title {
  margin-bottom: 0.25rem;
  text-align: center;
}
#app .QA-item .list-wrapper {
  padding: 0 2.7rem 0.44rem 2.72rem;
}
#app .QA-item .list-wrapper .list-item {
  position: relative;
  padding-left: 0.25rem;
  margin-bottom: 0.25rem;
}
#app .QA-item .list-wrapper .list-item:nth-last-of-type(1) {
  margin-bottom: 0;
}
#app .QA-item .list-wrapper .list-item .list-title {
  margin-bottom: 0.12rem;
  font-family: "kmfont";
  font-size: 0.14rem;
  color: #14206C;
  font-weight: bold;
}
#app .QA-item .list-wrapper .list-item .list-ctx {
  font-size: 0.14rem;
  color: #414042;
}
#app .QA-item .list-wrapper .list-item:after {
  position: absolute;
  left: 0;
  top: -0.01rem;
  content: "•";
  color: #4A4459;
  font-size: 0.18rem;
  font-weight: bold;
}
#app .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 2.81rem 0 2.72rem;
  aspect-ratio: 2880/1190;
  background-size: 100% 100%;
  background-image: url("../assets/images/wkmd/footer.png");
}
#app .footer .title {
  margin-bottom: 0.08rem;
  font-size: 0.26rem;
  font-weight: 600;
  line-height: 0.5rem;
  text-align: center;
  color: white;
}
#app .footer .sub-title {
  position: relative;
  width: 100%;
  font-size: 0.18rem;
  margin-bottom: 0.2rem;
  color: white;
  text-align: center;
}
#app .footer .sub-title:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 30%;
  height: 0.02rem;
  content: "";
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .sub-title:after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  width: 30%;
  height: 0.02rem;
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .footer-ctx {
  margin-bottom: 0.44rem;
  font-size: 0.16rem;
  line-height: 0.25rem;
}
#app .footer .footer-ctx p {
  margin-bottom: 0.2rem;
  color: white;
}
#app .footer .footer-ctx .em {
  color: #fcbc40;
  font-weight: 500;
}
#app .footer .title-desc {
  color: #FFF;
  text-align: center;
  font-family: Arial;
  font-size: 0.16rem;
  font-style: normal;
  font-weight: 400;
}
#app .footer .require-tip {
  color: white;
  font-size: 0.12rem;
}
#app .footer .footer-form {
  width: 100%;
}
#app .footer .footer-form .input-area {
  display: flex;
  justify-content: space-between;
  gap: 0.57rem;
  width: 100%;
}
#app .footer .footer-form .input-area .item {
  flex: 1;
  color: white;
  font-size: 0.14rem;
}
#app .footer .footer-form .input-area .item input {
  margin-top: 0.05rem;
  width: 100%;
  height: 0.19rem;
  line-height: 0.19rem;
  font-size: 0.14rem;
  outline: none;
}
#app .footer .footer-form .submit-area {
  display: flex;
  justify-content: space-between;
  gap: 0.57rem;
  margin-top: 0.25rem;
}
#app .footer .footer-form .submit-area .item {
  flex: 1;
}
#app .footer .footer-form .submit-area input {
  color: #14206C;
  text-align: center;
  font-family: Arial;
  font-size: 0.14rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.27rem;
  height: 0.32rem;
  border-radius: 0.04rem;
  background-color: #fcbc40;
  cursor: pointer;
}
#app .page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.24rem 0;
  gap: 0.22rem;
  background: rgba(217, 217, 217, 0.5);
  color: rgba(70, 80, 82, 0.5);
  font-family: Arial;
  font-size: 0.12rem;
  font-style: normal;
  font-weight: 700;
}
#app .page-footer img {
  width: 1.23rem;
}
