@import "./function";
ul {
  padding-left: transSize(15) ;
}
.error {
  margin-top: transSize(5) ;
  font-size: transSize(12) ;
  color: red;
}
#app {
  font-size: transSize(14) ;
  .sub-title {
    color: #14206C;
    font-size: transSize(24) ;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .center {
    text-align: center;
  }
  .page-header {
    display: flex;
    flex-direction: column;
    font-size: transSize(18) ;
    font-weight: 400;
    padding-left: 19.4%;
    img {
      width: transSize(180) ;
    }
  }
  .banner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: transSize(44)  19.4% transSize(29)  19.4%;
    width: 100%;
    color: #FFF;
    font-size: transSize(42) ;
    font-weight: 700;
    aspect-ratio: 1440/369;
    background-image: url('../assets/images/xxdj/banner_bg.png');
    background-size: 100% 100%;
    .ctx-area {
      .title {
        margin-bottom: transSize(21) ;
        color: #FFF;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        .main-title {
          font-size: transSize(36) ;
        }
        .sub-title {
          color: #FFF;
          font-size: transSize(30) ;
        }
      }
      .item {
        display: flex;
        align-items: center;
        margin-bottom: transSize(22) ;
        gap: transSize(14) ;
        color: #FCBC40;
        font-size: transSize(24) ;
        font-style: normal;
        font-weight: 700;
        img {
          width: transSize(32) ;
        }
      }
      .btn-wrapper {
        display: flex;
        gap: transSize(28) ;
        font-size: transSize(14) ;
        .btn {
          margin-top: 0;
          line-height: 2.3;
          flex: 1;
          border-radius: transSize(4) ;
        }
        .btn1 {
          margin-top: 0;
          color: #14206C;
          background-color: #FCBC40;
        }
        .btn2 {
          color: white;
          background-color: transparent;
          border: transSize(1)  solid #FCBC40;
        }
      }
    }
    .img-wrapper {
      display: flex;
      align-items: flex-end;
      margin-left: transSize(20) ;
      img {
        width: transSize(500) ;
      }
    }
  }
  .btn {
    margin-top: transSize(16) ;
    width: transSize(158) ;
    color: #14206C;
    text-align: center;
    font-size: transSize(14) ;
    font-style: normal;
    font-weight: 700;
    line-height: 2.3;
    border-radius: transSize(4) ;
    background-color: #fcbc40;
    cursor: pointer;
  }
  .block2{
    margin-left: 19.4%;
    margin-right: 19.4%;
    margin-top: transSize(39) ;
    margin-bottom: transSize(39) ;
    padding-top: transSize(25) ;
    border: transSize(3)  solid #4FBBE9;
    background: #FFF;
    box-shadow: 0 0 transSize(22)  0 rgba(0, 0, 0, 0.35);
    .title {
      margin-bottom: transSize(14) ;
      color: #14206C;
      text-align: center;
      font-size: transSize(24) ;
      line-height: 1;
      font-style: normal;
      font-weight: 700;
    }
    .block-context {
      position: relative;
      display: flex;
      justify-content: center;
      border-top: transSize(2)  solid #4FBBE9;
      border-bottom: 0;
      .item {
        padding-top: transSize(22) ;
        padding-bottom: transSize(39) ;
        flex: 1;
        text-align: center;
        color: white;
        font-size: transSize(14) ;
        line-height: 1;
        background-color: #4FBBE9;
        &-name {
          font-weight: 700;
          margin-bottom: transSize(20) ;
        }
        .desc-item {
          line-height: transSize(27) ;
          margin-bottom: transSize(11) ;
        }
      }
      .item:nth-of-type(2) {
        text-align: left;
        color: #14206C;

        background-color: white;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: transSize(98)  transSize(113) ;
        background-image: url("../assets/images/xxdj/corner_mark.png");
        .item-name {
          text-align: center;
        }
        .desc-item {
          margin-bottom: transSize(7) ;
          color: #414042;
          margin-left: transSize(105) ;
        }
      }
      .arrow {
        position: absolute;
        width: transSize(180) ;
        left: 50%;
        transform: translateX(-50%);
      }
      .r1 {
        top: transSize(65) ;
      }
      .r2 {
        top: transSize(101) ;
      }
      .r3 {
        top: transSize(146) ;
      }
    }
  }
  .block3{
    margin-bottom: transSize(98) ;
    padding: transSize(5)  19.4%;
    .title {
      margin-bottom: transSize(15) ;
      color: #14206C;
      font-size: transSize(24) ;
      font-style: normal;
      text-align: center;
      font-weight: 700;
      width: 100%;
    }
    .block-context {
      display: flex;
      padding: transSize(24) ;
      border: transSize(3)  solid #4FBBE9;
      background: #FFF;
      box-shadow: 0 0 transSize(22)  0 rgba(0, 0, 0, 0.35);
      color: white;
      .item {
        display: flex;
        flex-direction: column;
        padding-top: transSize(16) ;
        padding-left: transSize(11) ;
        padding-right: transSize(11) ;
        padding-bottom: transSize(54) ;
        font-size: transSize(14) ;
        flex: 1;
        .item-title {
          white-space: nowrap;
        }
        ul {
          font-weight: 400;
          li {
            margin-bottom: transSize(2) ;
          }
        }
        img {
          margin-bottom: transSize(16) ;
          margin-top: transSize(16) ;
          display: block;
          width: 100%;
        }
      }
    }
  }
  .block4 {
    padding: 0 19.4%;
    margin-bottom: transSize(44) ;
    .tab-wrapper {
      position: relative;
      display: flex;
      gap: transSize(16) ;
      .tab-item {
        padding: transSize(5)  transSize(20) ;
        font-weight: 500;
        cursor: pointer;
        background-color: white;
        color: #24608D;
        border: transSize(3)  solid #4FBBE9;
        border-bottom: none;
      }
      .active {
        background-color: #4ebbe9;
      }
      .tip {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 30%;
        color: #ECB62D;
        transform: translate(0, -100%);
        .tip-text {
          margin-top: transSize(-7) ;
          font-size: transSize(14) ;
        }
        img {
          width: transSize(11) ;
        }
      }
    }
    .tab-content {
      border: transSize(3)  solid #4FBBE9;
      background: #FFF;
      box-shadow: 0 0 transSize(22) 0 rgba(0, 0, 0, 0.35);
      .tab1 {
        width: transSize(794) ;
      }
      .tab2 {
        width: transSize(872) ;
      }
      .tab3 {
        width: transSize(872) ;
      }
      .tab4 {
        width:transSize(872) ;
      }
    }
    .btn-wrapper {
      display: flex;
      gap: transSize(45) ;
    }
  }
  .QA-item {
    margin-bottom: transSize(45);
    .sub-title {
      margin-bottom: transSize(21) ;
      text-align: center;
    }
    .sub-title2 {
      margin-bottom: transSize(20) ;
      color: #24608D;
      text-align: center;
      font-size: transSize(20) ;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
    }
    .content {
      display: flex;
      margin-left: 19.4%;
      margin-right: 19.4%;
      padding: transSize(14)  transSize(34)  transSize(20)  transSize(27) ;
      gap: transSize(43) ;
      background: #F2F2F2;
      .item-left {
        .title {
          margin-top: transSize(53) ;
          color: #24608D;
        }
        .m34 {
          margin-top: transSize(34) ;
        }
        .img1 {
          width: transSize(314) ;
        }
        .img2 {
          width: transSize(140) ;
        }
        .img3 {
          width: transSize(93);
        }
        .img4 {
          width: transSize(300) ;
        }
        .img6 {
          width: transSize(86) ;
        }
        .img-wrapper {
          display: flex;
          gap: transSize(51) ;
          width: transSize(314) ;
          align-items: flex-end;
          .img-name {
            margin-top: transSize(17) ;
            color: #14206C;
            text-align: center;
          }
        }
      }
      .item-right {
        .title {
          color: #24608D;
          font-size: transSize(14) ;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .desc {
          margin-top: transSize(10);
          margin-bottom: transSize(22) ;
          color: #414042;
          font-size: transSize(14) ;
          font-style: normal;
          font-weight: 400;
          line-height: 1.57; /* 157.143% */
          .em {
            font-weight: 700;
          }
        }
        .desc2 {
          margin-bottom: transSize(12) ;
          color: #414042;
          font-weight: 400;
          &-title {
            font-weight: 700;
          }
        }
        ul {
          margin-top: transSize(10) ;
          font-weight: bold;
          color:  #414042;
        }
      }
    }
  }
  .block5 {
    .title {
      margin-bottom: transSize(22) ;
      color: #14206C;
      text-align: center;
      font-size: transSize(24) ;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .block-context {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: transSize(24)  14.1% transSize(24)  19.4%;
      background-color: #F2F2F2;
      .left {
        width: 50.8%;
        flex-shrink: 1;
        padding-right: transSize(35) ;
        .title {
          color: #24608D;
          font-size: transSize(14);
          font-style: normal;
          font-weight: 700;
          text-align: left;
          line-height: 1.57 /* 157.143% */
        }
        .seq {
          font-size: transSize(14) ;
          font-weight: 400;
          color: #414042;
        }
        .desc {
          margin-top: transSize(12) ;
          margin-bottom: transSize(22) ;
          color: #414042;
        }

      }
      .video-wrapper {
        flex: 1;
      }
      video {
        width: 100%;
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: transSize(34)  19.4% transSize(34)  19.4%;
    background-color: #102b5b;
    .title {
      margin-bottom: transSize(8) ;
      font-size: transSize(26) ;
      font-weight: 600;
      line-height: transSize(50);
      text-align: center;
      color: white;
    }
    .sub-title {
      position: relative;
      width: 100%;
      font-size: transSize(18) ;
      margin-bottom: transSize(20) ;
      color: white;
      text-align: center;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        width: 30%;
        height: transSize(2) ;
        content: '';
        background-color: white;
        transform: translateY(-50%);
      }
      &:after{
        position: absolute;
        right: 0;
        top: 50%;
        content: '';
        width: 30%;
        height: transSize(2) ;
        background-color: white;
        transform: translateY(-50%);
      }
    }
    .footer-ctx {
      margin-bottom: transSize(44) ;
      font-size: transSize(16) ;
      line-height: transSize(25) ;
      p {
        margin-bottom: transSize(20) ;
        color: white;
      }
      .em {
        color: #fcbc40;
        font-weight: 500;
      }
    }
    .title-desc {
      color: #FFF;
      text-align: center;
      font-size: transSize(16) ;
      font-style: normal;
      font-weight: 400;
    }
    .require-tip {
      color: white;
      font-size: transSize(12) ;
    }
    .footer-form {
      width: 100%;
      .input-area {
        display: flex;
        justify-content: space-between;
        gap: transSize(57) ;
        width: 100%;
        .item {
          flex: 1;
          color: white;
          font-size: transSize(14) ;
          input {
            margin-top: transSize(5) ;
            width: 100%;
            height: transSize(19) ;
            line-height: transSize(19) ;
            font-size: transSize(14) ;
            outline: none;
          }
        }
      }
      .submit-area {
        display: flex;
        justify-content: space-between;
        gap: transSize(57) ;
        margin-top: transSize(25) ;
        .item {
          flex: 1;
        }
        input {
          color: #14206C;
          text-align: center;
          font-size: transSize(14) ;
          font-style: normal;
          font-weight: 700;
          line-height: transSize(27) ;
          height: transSize(32) ;
          border-radius: transSize(4) ;
          background-color: #fcbc40;
          cursor: pointer;
        }

      }
    }
  }
  .page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: transSize(24)  0;
    gap: transSize(22);
    background: rgba(217, 217, 217, 0.50);
    color: rgba(70, 80, 82, 0.50);
    font-size: transSize(12) ;
    font-style: normal;
    font-weight: 700;
    img {
      width: transSize(123)
    }
  }

}