
ul {
  padding-left: .15rem;
}
.error {
  margin-top: .05rem;
  font-size: .12rem;
  color: red;
}
#app {
  .sub-title {
    color: #14206C;
    font-size: .24rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .center {
    text-align: center;
  }
  .page-header {
    display: flex;
    flex-direction: column;
    font-size: .18rem;
    font-weight: 400;
    padding-left: 2.75rem;
    img {
      width: 1.8rem;
    }
  }
  .banner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: .44rem 2.75rem .3rem 2.75rem;
    width: 100%;
    aspect-ratio: 1440 / 369;
    color: #FFF;
    font-size: .42rem;
    font-weight: 700;
    background-image: url('../assets/images/xxdj/banner_bg.png');
    background-size: 100% 100%;
    .ctx-area {
      .title {
        margin-bottom: .21rem;
        color: #FFF;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        .main-title {
          font-size: .36rem;
        }
        .sub-title {
          color: #FFF;
          font-size: .3rem;
        }
      }
      .item {
        display: flex;
        align-items: center;
        margin-bottom: .22rem;
        gap: .14rem;
        color: #FCBC40;
        font-size: .24rem;
        font-style: normal;
        font-weight: 700;
        img {
          width: .32rem;
        }
      }
      .btn-wrapper {
        display: flex;
        gap: .28rem;
        font-size: .14rem;
        .btn {
          margin-top: 0;
          height: .32rem;
          line-height: .32rem;
          flex: 1;
          border-radius: .04rem;
        }
        .btn1 {
          margin-top: 0;
          color: #14206C;
          background-color: #FCBC40;
        }
        .btn2 {
          color: white;
          background-color: transparent;
          border: .01rem solid #FCBC40;
        }
      }
    }
    .img-wrapper {
      display: flex;
      align-items: flex-end;
      margin-left: .2rem;
      img {
        width: 5rem;
      }
    }
  }
  .btn {
    margin-top: .16rem;
    width: 1.58rem;
    color: #14206C;
    text-align: center;
    font-size: .14rem;
    font-style: normal;
    font-weight: 700;
    line-height: .32rem;
    height: .32rem;
    border-radius: .04rem;
    background-color: #fcbc40;
    cursor: pointer;
  }
  .block2{
    margin-left: 2.74rem;
    margin-right: 2.70rem;
    margin-top: .39rem;
    margin-bottom: .39rem;
    padding-top: .25rem;
    border: .03rem solid #4FBBE9;
    background: #FFF;
    box-shadow: 0 0 .22rem 0 rgba(0, 0, 0, 0.35);
    .title {
      margin-bottom: .14rem;
      color: #14206C;
      text-align: center;
      font-size: .24rem;
      line-height: 1;
      font-style: normal;
      font-weight: 700;
    }
    .block-context {
      position: relative;
      display: flex;
      justify-content: center;
      border-top: 0.02rem solid #4FBBE9;
      border-bottom: 0;
      .item {
        padding-top: .22rem;
        padding-bottom: .39rem;
        flex: 1;
        text-align: center;
        color: white;
        font-size: .14rem;
        line-height: 1;
        background-color: #4FBBE9;
        &-name {
          font-weight: 700;
          margin-bottom: .2rem;
        }
        .desc-item {
          line-height: .27rem;
          margin-bottom: .11rem;
        }
      }
      .item:nth-of-type(2) {
        text-align: left;
        color: #14206C;

        background-color: white;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: .98rem 1.13rem;
        background-image: url("../assets/images/xxdj/corner_mark.png");
        .item-name {
          text-align: center;
        }
        .desc-item {
          margin-bottom: 0.07rem;
          color: #414042;
          margin-left: 1.05rem;
        }
      }
      .arrow {
        position: absolute;
        width: 1.8rem;
        left: 50%;
        transform: translateX(-50%);
      }
      .r1 {
        top: .65rem;
      }
      .r2 {
        top: 1.01rem;
      }
      .r3 {
        top: 1.46rem;
      }
    }
  }
  .block3{
    margin-bottom: .98rem;
    padding: .05rem 2.79rem;
    .title {
      margin-bottom: .15rem;
      color: #14206C;
      font-size: .24rem;
      font-style: normal;
      text-align: center;
      font-weight: 700;
      width: 100%;
    }
    .block-context {
      display: flex;
      padding: .24rem;
      border: .03rem solid #4FBBE9;
      background: #FFF;
      box-shadow: 0 0 .22rem 0 rgba(0, 0, 0, 0.35);
      color: white;
      .item {
        display: flex;
        flex-direction: column;
        padding-top: .16rem;
        padding-left: .11rem;
        padding-right: .11rem;
        padding-bottom: .54rem;
        font-size: .14rem;
        flex: 1;
        .item-title {
          white-space: nowrap;
        }
        ul {
          font-weight: 400;
          li {
            margin-bottom: .2rem;
          }
        }
        img {
          margin-bottom: .16rem;
          margin-top: .16rem;
          display: block;
          width: 1.78rem;
        }
      }
    }
  }
  .block4 {
    padding: 0 2.79rem;
    margin-bottom: .44rem;
    .tab-wrapper {
      position: relative;
      display: flex;
      gap:.16rem;
      .tab-item {
        padding: .05rem .2rem;
        cursor: pointer;
        background-color: white;
        color: #24608D;
        border: .03rem solid #4FBBE9;
        border-bottom: none;
      }
      .active {
        background-color: #4ebbe9;
      }
      .tip {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 30%;
        color: #ECB62D;
        transform: translate(0, -100%);
        .tip-text {
          margin-top: -0.07rem;
          font-size: .14rem;
        }
        img {
          width: .11rem;
        }
      }
    }
    .tab-content {
      border: 0.03rem solid #4FBBE9;
      background: #FFF;
      box-shadow: 0 0 .22rem 0 rgba(0, 0, 0, 0.35);
      .tab1 {
        width: 7.94rem;
      }
      .tab2 {
        width: 8.86rem;
      }
      .tab3 {
        width: 8.86rem;
      }
      .tab4 {
        width: 8.92rem;
      }
    }
    .btn-wrapper {
      display: flex;
      gap: .45rem;
    }
  }
  .QA-item {
    margin-bottom: .45rem;
    .sub-title {
      margin-bottom: .21rem;
      text-align: center;
    }
    .sub-title2 {
      margin-bottom: .2rem;
      color: #24608D;
      text-align: center;
      font-size: .2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
    }
    .content {
      display: flex;
      margin-left: 2.74rem;
      margin-right: 2.70rem;
      padding: .14rem .34rem .2rem .27rem;
      gap: .43rem;
      background: #F2F2F2;
      .item-left {
        .title {
          margin-top: .53rem;
          color: #24608D;
        }
        .img-wrapper {
          display: flex;
          gap: .51rem;
          width: 3.14rem;
          align-items: flex-end;
          .img-name {
            margin-top: .17rem;
            color: #14206C;
            text-align: center;
          }
        }
      }
      .item-right {
        .title {
          color: #24608D;
          font-size: .14rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .desc {
          margin-top: .1rem;
          margin-bottom: .22rem;
          color: #414042;
          font-size: .14rem;
          font-style: normal;
          font-weight: 400;
          line-height: .22rem; /* 157.143% */
          .em {
            font-weight: 700;
          }
        }
        .desc2 {
          margin-bottom: .12rem;
          color: #414042;
          font-weight: 400;
          &-title {
            font-weight: 700;
          }
        }
        ul {
          margin-top: .1rem;
          font-weight: bold;
          color:  #414042;
        }
      }
    }
  }
  .block5 {
    .title {
      margin-bottom: .22rem;
      color: #14206C;
      text-align: center;
      font-size: .24rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .block-context {
      display: flex;
      align-items: center;
      padding: .24rem 2.03rem .24rem 2.74rem;
      gap: .35rem;
      background-color: #F2F2F2;
      .left {
        .title {
          color: #24608D;
          font-size: .14rem;
          font-style: normal;
          font-weight: 700;
          text-align: left;
          line-height: .22rem /* 157.143% */
        }
        .seq {
          font-size: .14rem;
          font-weight: 400;
          color: #414042;
        }
        .desc {
          margin-top: .12rem;
          margin-bottom: .22rem;
          color: #414042;
        }

      }
      video {
        width: 5.15rem;
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 2.81rem 0 2.72rem;
    aspect-ratio: 2880 / 1190;
    background-color: #102b5b;
    .title {
      margin-bottom: .08rem;
      font-size: .26rem;
      font-weight: 600;
      line-height: .5rem;
      text-align: center;
      color: white;
    }
    .sub-title {
      position: relative;
      width: 100%;
      font-size: .18rem;
      margin-bottom: .2rem;
      color: white;
      text-align: center;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        width: 30%;
        height: 0.02rem;
        content: '';
        background-color: white;
        transform: translateY(-50%);
      }
      &:after{
        position: absolute;
        right: 0;
        top: 50%;
        content: '';
        width: 30%;
        height: 0.02rem;
        background-color: white;
        transform: translateY(-50%);
      }
    }
    .footer-ctx {
      margin-bottom: .44rem;
      font-size: .16rem;
      line-height: .25rem;
      p {
        margin-bottom: .2rem;
        color: white;
      }
      .em {
        color: #fcbc40;
        font-weight: 500;
      }
    }
    .title-desc {
      color: #FFF;
      text-align: center;
      font-size: .16rem;
      font-style: normal;
      font-weight: 400;
    }
    .require-tip {
      color: white;
      font-size: .12rem;
    }
    .footer-form {
      width: 100%;
      .input-area {
        display: flex;
        justify-content: space-between;
        gap: .57rem;
        width: 100%;
        .item {
          flex: 1;
          color: white;
          font-size: .14rem;
          input {
            margin-top: .05rem;
            width: 100%;
            height: .19rem;
            line-height: .19rem;
            font-size: .14rem;
            outline: none;
          }
        }
      }
      .submit-area {
        display: flex;
        justify-content: space-between;
        gap: .57rem;
        margin-top: .25rem;
        .item {
          flex: 1;
        }
        input {
          color: #14206C;
          text-align: center;
          font-size: .14rem;
          font-style: normal;
          font-weight: 700;
          line-height: .27rem;
          height: .32rem;
          border-radius: .04rem;
          background-color: #fcbc40;
          cursor: pointer;
        }

      }
    }
  }
  .page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .24rem 0;
    gap: .22rem;
    background: rgba(217, 217, 217, 0.50);
    color: rgba(70, 80, 82, 0.50);
    font-size: .12rem;
    font-style: normal;
    font-weight: 700;
    img {
      width: 1.23rem
    }
  }

}