ul {
  padding-left: 0.15rem;
}

.error {
  margin-top: 0.05rem;
  font-size: 0.12rem;
  color: red;
}

#app .sub-title {
  color: #14206C;
  font-family: Inter;
  font-size: 0.24rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#app .center {
  text-align: center;
}
#app .page-header {
  display: flex;
  flex-direction: column;
  font-size: 0.18rem;
  font-weight: 400;
  padding-left: 2.75rem;
}
#app .page-header img {
  width: 1.8rem;
}
#app .banner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.44rem 2.75rem 0.3rem 2.75rem;
  width: 100%;
  aspect-ratio: 1440/369;
  color: #FFF;
  font-family: Inter;
  font-size: 0.42rem;
  font-weight: 700;
  background-image: url("../assets/images/xxdj/banner_bg.png");
  background-size: 100% 100%;
}
#app .banner .ctx-area .title {
  margin-bottom: 0.21rem;
  color: #FFF;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
#app .banner .ctx-area .title .main-title {
  font-size: 0.36rem;
}
#app .banner .ctx-area .title .sub-title {
  color: #FFF;
  font-size: 0.3rem;
}
#app .banner .ctx-area .item {
  display: flex;
  align-items: center;
  margin-bottom: 0.22rem;
  gap: 0.14rem;
  color: #FCBC40;
  font-family: Arial;
  font-size: 0.24rem;
  font-style: normal;
  font-weight: 700;
}
#app .banner .ctx-area .item img {
  width: 0.32rem;
}
#app .banner .ctx-area .btn-wrapper {
  display: flex;
  gap: 0.28rem;
  font-size: 0.14rem;
}
#app .banner .ctx-area .btn-wrapper .btn {
  margin-top: 0;
  height: 0.32rem;
  line-height: 0.32rem;
  flex: 1;
  border-radius: 0.04rem;
}
#app .banner .ctx-area .btn-wrapper .btn1 {
  margin-top: 0;
  color: #14206C;
  background-color: #FCBC40;
}
#app .banner .ctx-area .btn-wrapper .btn2 {
  color: white;
  background-color: transparent;
  border: 0.01rem solid #FCBC40;
}
#app .banner .img-wrapper {
  display: flex;
  align-items: flex-end;
  margin-left: 0.2rem;
}
#app .banner .img-wrapper img {
  width: 5rem;
}
#app .btn {
  margin-top: 0.16rem;
  width: 1.58rem;
  color: #14206C;
  text-align: center;
  font-family: Arial;
  font-size: 0.14rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.32rem;
  height: 0.32rem;
  border-radius: 0.04rem;
  background-color: #fcbc40;
  cursor: pointer;
}
#app .block2 {
  margin-left: 2.74rem;
  margin-right: 2.7rem;
  margin-top: 0.39rem;
  margin-bottom: 0.39rem;
  padding-top: 0.25rem;
  border: 0.03rem solid #4FBBE9;
  background: #FFF;
  box-shadow: 0 0 0.22rem 0 rgba(0, 0, 0, 0.35);
}
#app .block2 .title {
  margin-bottom: 0.14rem;
  color: #14206C;
  text-align: center;
  font-family: Arial;
  font-size: 0.24rem;
  line-height: 1;
  font-style: normal;
  font-weight: 700;
}
#app .block2 .block-context {
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 0.02rem solid #4FBBE9;
  border-bottom: 0;
}
#app .block2 .block-context .item {
  padding-top: 0.22rem;
  padding-bottom: 0.39rem;
  flex: 1;
  text-align: center;
  color: white;
  font-size: 0.14rem;
  line-height: 1;
  background-color: #4FBBE9;
}
#app .block2 .block-context .item-name {
  font-weight: 700;
  margin-bottom: 0.2rem;
}
#app .block2 .block-context .item .desc-item {
  line-height: 0.27rem;
  margin-bottom: 0.11rem;
}
#app .block2 .block-context .item:nth-of-type(2) {
  text-align: left;
  color: #14206C;
  background-color: white;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 0.98rem 1.13rem;
  background-image: url("../assets/images/xxdj/corner_mark.png");
}
#app .block2 .block-context .item:nth-of-type(2) .item-name {
  text-align: center;
}
#app .block2 .block-context .item:nth-of-type(2) .desc-item {
  margin-bottom: 0.07rem;
  color: #414042;
  margin-left: 1.05rem;
}
#app .block2 .block-context .arrow {
  position: absolute;
  width: 1.8rem;
  left: 50%;
  transform: translateX(-50%);
}
#app .block2 .block-context .r1 {
  top: 0.65rem;
}
#app .block2 .block-context .r2 {
  top: 1.01rem;
}
#app .block2 .block-context .r3 {
  top: 1.46rem;
}
#app .block3 {
  margin-bottom: 0.98rem;
  padding: 0.05rem 2.79rem;
}
#app .block3 .title {
  margin-bottom: 0.15rem;
  color: #14206C;
  font-family: Arial;
  font-size: 0.24rem;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  width: 100%;
}
#app .block3 .block-context {
  display: flex;
  padding: 0.24rem;
  border: 0.03rem solid #4FBBE9;
  background: #FFF;
  box-shadow: 0 0 0.22rem 0 rgba(0, 0, 0, 0.35);
  color: white;
}
#app .block3 .block-context .item {
  display: flex;
  flex-direction: column;
  padding-top: 0.16rem;
  padding-left: 0.11rem;
  padding-right: 0.11rem;
  padding-bottom: 0.54rem;
  font-size: 0.14rem;
  flex: 1;
}
#app .block3 .block-context .item .item-title {
  white-space: nowrap;
}
#app .block3 .block-context .item ul {
  font-weight: 400;
}
#app .block3 .block-context .item ul li {
  margin-bottom: 0.2rem;
}
#app .block3 .block-context .item img {
  margin-bottom: 0.16rem;
  margin-top: 0.16rem;
  display: block;
  width: 1.78rem;
}
#app .block4 {
  padding: 0 2.79rem;
  margin-bottom: 0.44rem;
}
#app .block4 .tab-wrapper {
  position: relative;
  display: flex;
  gap: 0.16rem;
}
#app .block4 .tab-wrapper .tab-item {
  padding: 0.05rem 0.2rem;
  cursor: pointer;
  background-color: white;
  color: #24608D;
  border: 0.03rem solid #4FBBE9;
  border-bottom: none;
}
#app .block4 .tab-wrapper .active {
  background-color: #4ebbe9;
}
#app .block4 .tab-wrapper .tip {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 30%;
  color: #ECB62D;
  transform: translate(0, -100%);
}
#app .block4 .tab-wrapper .tip .tip-text {
  margin-top: -0.07rem;
  font-size: 0.14rem;
}
#app .block4 .tab-wrapper .tip img {
  width: 0.11rem;
}
#app .block4 .tab-content {
  border: 0.03rem solid #4FBBE9;
  background: #FFF;
  box-shadow: 0 0 0.22rem 0 rgba(0, 0, 0, 0.35);
}
#app .block4 .tab-content .tab1 {
  width: 7.94rem;
}
#app .block4 .tab-content .tab2 {
  width: 8.86rem;
}
#app .block4 .tab-content .tab3 {
  width: 8.86rem;
}
#app .block4 .tab-content .tab4 {
  width: 8.92rem;
}
#app .block4 .btn-wrapper {
  display: flex;
  gap: 0.45rem;
}
#app .QA-item {
  margin-bottom: 0.45rem;
}
#app .QA-item .sub-title {
  margin-bottom: 0.21rem;
  text-align: center;
}
#app .QA-item .sub-title2 {
  margin-bottom: 0.2rem;
  color: #24608D;
  text-align: center;
  font-family: "Source Han Sans CN";
  font-size: 0.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
#app .QA-item .content {
  display: flex;
  margin-left: 2.74rem;
  margin-right: 2.7rem;
  padding: 0.14rem 0.34rem 0.2rem 0.27rem;
  gap: 0.43rem;
  background: #F2F2F2;
}
#app .QA-item .content .item-left .title {
  margin-top: 0.53rem;
  color: #24608D;
}
#app .QA-item .content .item-left .img-wrapper {
  display: flex;
  gap: 0.51rem;
  width: 3.14rem;
  align-items: flex-end;
}
#app .QA-item .content .item-left .img-wrapper .img-name {
  margin-top: 0.17rem;
  color: #14206C;
  text-align: center;
}
#app .QA-item .content .item-right .title {
  color: #24608D;
  font-family: "Source Han Sans CN";
  font-size: 0.14rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#app .QA-item .content .item-right .desc {
  margin-top: 0.1rem;
  margin-bottom: 0.22rem;
  color: #414042;
  font-family: "Source Han Sans CN";
  font-size: 0.14rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.22rem; /* 157.143% */
}
#app .QA-item .content .item-right .desc .em {
  font-weight: 700;
}
#app .QA-item .content .item-right .desc2 {
  margin-bottom: 0.12rem;
  color: #414042;
  font-weight: 400;
}
#app .QA-item .content .item-right .desc2-title {
  font-weight: 700;
}
#app .QA-item .content .item-right ul {
  margin-top: 0.1rem;
  font-weight: bold;
  color: #414042;
}
#app .block5 .title {
  margin-bottom: 0.22rem;
  color: #14206C;
  text-align: center;
  font-family: Inter;
  font-size: 0.24rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#app .block5 .block-context {
  display: flex;
  align-items: center;
  padding: 0.24rem 2.03rem 0.24rem 2.74rem;
  gap: 0.35rem;
  background-color: #F2F2F2;
}
#app .block5 .block-context .left .title {
  color: #24608D;
  font-family: Inter;
  font-size: 0.14rem;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  line-height: 0.22rem;
}
#app .block5 .block-context .left .seq {
  font-size: 0.14rem;
  font-weight: 400;
  color: #414042;
}
#app .block5 .block-context .left .desc {
  margin-top: 0.12rem;
  margin-bottom: 0.22rem;
  color: #414042;
}
#app .block5 .block-context video {
  width: 5.15rem;
}
#app .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 2.81rem 0 2.72rem;
  aspect-ratio: 2880/1190;
  background-color: #102b5b;
}
#app .footer .title {
  margin-bottom: 0.08rem;
  font-size: 0.26rem;
  font-weight: 600;
  line-height: 0.5rem;
  text-align: center;
  color: white;
}
#app .footer .sub-title {
  position: relative;
  width: 100%;
  font-size: 0.18rem;
  margin-bottom: 0.2rem;
  color: white;
  text-align: center;
}
#app .footer .sub-title:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 30%;
  height: 0.02rem;
  content: "";
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .sub-title:after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  width: 30%;
  height: 0.02rem;
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .footer-ctx {
  margin-bottom: 0.44rem;
  font-size: 0.16rem;
  line-height: 0.25rem;
}
#app .footer .footer-ctx p {
  margin-bottom: 0.2rem;
  color: white;
}
#app .footer .footer-ctx .em {
  color: #fcbc40;
  font-weight: 500;
}
#app .footer .title-desc {
  color: #FFF;
  text-align: center;
  font-family: Arial;
  font-size: 0.16rem;
  font-style: normal;
  font-weight: 400;
}
#app .footer .require-tip {
  color: white;
  font-size: 0.12rem;
}
#app .footer .footer-form {
  width: 100%;
}
#app .footer .footer-form .input-area {
  display: flex;
  justify-content: space-between;
  gap: 0.57rem;
  width: 100%;
}
#app .footer .footer-form .input-area .item {
  flex: 1;
  color: white;
  font-size: 0.14rem;
}
#app .footer .footer-form .input-area .item input {
  margin-top: 0.05rem;
  width: 100%;
  height: 0.19rem;
  line-height: 0.19rem;
  font-size: 0.14rem;
  outline: none;
}
#app .footer .footer-form .submit-area {
  display: flex;
  justify-content: space-between;
  gap: 0.57rem;
  margin-top: 0.25rem;
}
#app .footer .footer-form .submit-area .item {
  flex: 1;
}
#app .footer .footer-form .submit-area input {
  color: #14206C;
  text-align: center;
  font-family: Arial;
  font-size: 0.14rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.27rem;
  height: 0.32rem;
  border-radius: 0.04rem;
  background-color: #fcbc40;
  cursor: pointer;
}
#app .page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.24rem 0;
  gap: 0.22rem;
  background: rgba(217, 217, 217, 0.5);
  color: rgba(70, 80, 82, 0.5);
  font-family: Arial;
  font-size: 0.12rem;
  font-style: normal;
  font-weight: 700;
}
#app .page-footer img {
  width: 1.23rem;
}
