@font-face {
  font-family: "kmfont";
  src: url("../assets/font/SourceHanSansCN-Medium.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: disc;
}

html, body {
  width: 100vw;
  margin: 0 auto;
  background-color: white;
}

#app {
  width: 100%;
  background: #FFFFFF;
  font-family: "kmfont";
}
#app .banner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 8.4375rem;
  padding-right: 8.4375rem;
  padding-bottom: 2rem;
  width: 100%;
  aspect-ratio: 1440/369;
  color: #FFF;
  font-family: Inter;
  font-weight: 700;
  background-image: url("../assets/images/xxdj/banner.png");
  background-size: 100% 100%;
}
#app .banner .ctx-area .title {
  margin-bottom: 1.3125rem;
  color: #FFF;
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
#app .banner .ctx-area .title .main-title {
  font-size: 3.25rem;
}
#app .banner .ctx-area .title .sub-title {
  color: #FFF;
  font-size: 2.875rem;
}
#app .banner .ctx-area .item {
  display: flex;
  align-items: center;
  margin-bottom: 2.445rem;
  gap: 0.875rem;
  color: #FCBC40;
  font-family: Arial;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
#app .banner .ctx-area .item img {
  width: 2rem;
}
#app .banner .ctx-area .btn-wrapper {
  display: flex;
  gap: 1.75rem;
  font-size: 1.2rem;
}
#app .banner .ctx-area .btn-wrapper .btn {
  height: 3rem;
  line-height: 3rem;
  flex: 1;
  text-align: center;
  border-radius: 0.25rem;
}
#app .banner .ctx-area .btn-wrapper .btn1 {
  color: #14206C;
  background-color: #FCBC40;
}
#app .banner .ctx-area .btn-wrapper .btn2 {
  color: white;
  background-color: transparent;
  border: 0.0625rem solid #FCBC40;
}
#app .banner .img-wrapper {
  display: flex;
  align-items: flex-end;
  margin-left: 1.25rem;
}
#app .banner .img-wrapper img {
  width: 37.5rem;
}
#app img {
  display: block;
  width: 100%;
  height: 100%;
}
#app .content {
  width: 100%;
  padding-left: 9.4375rem;
  padding-right: 9.4375rem;
  box-sizing: border-box;
}
#app .content .title_one {
  font-weight: 700;
  font-size: 3.9375rem;
  color: #4FBBE9;
  line-height: 4.625rem;
  text-align: center;
}
#app .content .picture {
  width: 31.9694rem;
  height: 27.5175rem;
  padding: 1.5625rem 7.1875rem 3.75rem 7.0625rem;
}
#app .content .ddl {
  width: 100%;
  height: 32.8125rem;
  margin-top: 6.5625rem;
  border: 0.1875rem solid #4FBBE9;
  box-shadow: 0px 0px 1.4375rem 0px rgba(0, 0, 0, 0.35);
  position: relative;
  display: flex;
}
#app .content .ddl p {
  text-align: left;
  font-style: normal;
  text-transform: none;
}
#app .content .ddl .info_title {
  padding-top: 3.75rem;
  font-weight: 700;
  font-size: 2.625rem;
  color: #24608D;
  line-height: 3.0625rem;
}
#app .content .ddl .info_text {
  width: 48.5rem;
  height: 12.125rem;
  padding-top: 2.3125rem;
  font-weight: 400;
  font-size: 1.6875rem;
  color: #000000;
  line-height: 2.625rem;
}
#app .content .ddl .btn {
  padding-top: 1.375rem;
  display: flex;
}
#app .content .ddl .btn p {
  margin: 0 auto;
  font-weight: 500;
  font-size: 2.0625rem;
  line-height: 2.4375rem;
  text-align: center;
  padding-top: 1.25rem;
}
#app .content .ddl .btn .simple {
  background: #ECB62D;
  width: 20.625rem;
  height: 5.375rem;
  color: #01467D;
  cursor: pointer;
}
#app .content .ddl .btn .simple:hover {
  transition: background-color 0.5s ease;
  background-color: #750b45;
  color: #fff !important;
}
#app .content .ddl .btn .consult {
  color: #01467D;
  width: 20.625rem;
  height: 5.375rem;
  border: 3px solid #4FBBE9;
  background: #FFFFFF;
  box-sizing: border-box;
  margin-left: 3.75rem;
  cursor: pointer;
}
#app .content .ddl .btn .consult:hover {
  transition: background-color color 0.7s ease;
  background-color: #750b45;
  color: #fff !important;
}
#app .content .ddl .corner_mark {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 14.4375rem;
  height: 11.4375rem;
}
#app .content .selection_advantage {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 1.4375rem 0px rgba(0, 0, 0, 0.35);
  border: 0.1875rem solid #4FBBE9;
  margin-top: 4.6875rem;
  position: relative;
}
#app .content .selection_advantage .title {
  padding: 2.9375rem 0;
  text-align: center;
  font-weight: 700;
  font-size: 2.625rem;
  color: #24608D;
  line-height: 3.0625rem;
  font-style: normal;
  text-transform: none;
}
#app .content .selection_advantage .challenge_advantage {
  display: flex;
  height: 25rem;
  position: relative;
}
#app .content .selection_advantage .challenge_advantage .title_sub {
  padding: 2.1875rem 0;
  font-weight: 400;
  font-size: 3rem;
  color: #FFFFFF;
  line-height: 3.5rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
#app .content .selection_advantage .challenge_advantage .content_box {
  display: flex;
  justify-content: center;
}
#app .content .selection_advantage .challenge_advantage .content {
  height: 4.25rem;
  font-weight: 400;
  font-size: 1.6875rem;
  color: #FFFFFF;
  line-height: 3.375rem;
  padding-left: 14.1875rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
  padding-top: 0.75rem;
}
#app .content .selection_advantage .challenge_advantage .content img {
  width: 23.125rem;
  height: 1.0625rem;
  display: inline-block;
  position: absolute;
}
#app .content .selection_advantage .challenge_advantage .content .img1 {
  top: 9.1875rem;
  left: 37.875rem;
}
#app .content .selection_advantage .challenge_advantage .content .img2 {
  top: 14.1875rem;
  left: 37.875rem;
}
#app .content .selection_advantage .challenge_advantage .content .img3 {
  top: 18.1rem;
  left: 37.875rem;
}
#app .content .selection_advantage .challenge_advantage .challenge {
  width: 50%;
  background: #4FBBE9;
}
#app .content .selection_advantage .challenge_advantage .advantage {
  width: 50%;
  background: #FFFFFF;
  border-top: 0.1875rem solid #4FBBE9;
}
#app .content .selection_advantage .challenge_advantage .advantage .content {
  color: #000000;
  line-height: 2rem;
}
#app .content .selection_advantage .corner_mark {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 14.4375rem;
  height: 11.4375rem;
}
#app .content .motor_family {
  width: 100%;
}
#app .content .motor_family .title {
  padding: 6.5625rem 0 3.1875rem 0;
  font-weight: 700;
  font-size: 3.9375rem;
  color: #4FBBE9;
  line-height: 4.625rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
#app .content .motor_family .introduce {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 1.4375rem 0px rgba(0, 0, 0, 0.35);
  border: 0.1875rem solid #4FBBE9;
  padding: 2.8125rem 2.8125rem 3.125rem 2.8125rem;
  display: flex;
  box-sizing: border-box;
}
#app .content .motor_family .introduce .intro_item {
  width: 24.375rem;
  height: 45rem;
  color: #FFFFFF;
}
#app .content .motor_family .introduce .intro_item .motor_name {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.875rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
  padding-top: 1.75rem;
  padding-bottom: 1.875rem;
}
#app .content .motor_family .introduce .intro_item .motor_img {
  width: 20.625rem;
  height: 13.125rem;
  background: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  padding: 0.75rem 3rem;
  box-sizing: border-box;
}
#app .content .motor_family .introduce .intro_item .motor_info {
  width: 20.625rem;
  margin: 0 auto;
}
#app .content .motor_family .introduce .intro_item .motor_info li {
  font-weight: 400;
  font-size: 1.6875rem;
  color: #FFFFFF;
  line-height: 2.625rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
#app .content .motor_family .introduce .intro_item .motor_info span {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #FFFFFF;
  margin-right: 1.3125rem;
}
#app .content .motor_family .introduce .bg1 {
  background: #24608D;
}
#app .content .motor_family .introduce .bg2 {
  background: #0097D7;
}
#app .content .motor_family .introduce .bg3 {
  background: #4FBBE9;
}
#app .content .motor_family .introduce .bg4 {
  background: #73CCF3;
}
#app .content .table {
  width: 100%;
  margin-top: 6rem;
  position: relative;
}
#app .content .table .arrow {
  position: absolute;
  width: 1.5rem;
  height: 5.125rem;
  left: 27.0625rem;
  top: -3.5rem;
}
#app .content .table .more_text {
  position: absolute;
  left: 29rem;
  top: -5.625rem;
  font-weight: 400;
  font-size: 1.6875rem;
  color: #ECB62D;
  line-height: 4.875rem;
  text-align: left;
}
#app .content .table .tabs {
  display: flex;
}
#app .content .table .tab_item {
  height: 5.625rem;
  border: 0.1875rem solid #4FBBE9;
  border-bottom: none;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 2.0625rem;
  color: #24608D;
  line-height: 2.4375rem;
  padding-top: 1.4375rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
  margin-right: 1.875rem;
  cursor: pointer;
}
#app .content .table .width1 {
  width: 24.375rem;
}
#app .content .table .width2 {
  width: 20.625rem;
}
#app .content .table .actived {
  background: #4FBBE9;
}
#app .content .table .table_img {
  width: 100%;
  height: 30rem;
  background: #FFFFFF;
  border: 0.1875rem solid #4FBBE9;
  padding: 2.0417rem 0.9167rem 1.5833rem;
  box-sizing: border-box;
  overflow: auto;
  box-shadow: 0px 0px 1.4375rem 0px rgba(0, 0, 0, 0.35);
}
#app .content .table .table_img img {
  max-width: 100%;
  height: auto;
}
#app .content .table .btn {
  display: inline-block;
  width: 20.625rem;
  height: 5.375rem;
  background: #ECB62D;
  text-align: center;
  font-weight: 500;
  font-size: 2.0625rem;
  color: #01467D;
  line-height: 2.4375rem;
  padding-top: 1.25rem;
  box-sizing: border-box;
  font-style: normal;
  text-transform: none;
  margin-right: 3.75rem;
  margin-top: 2.8125rem;
  cursor: pointer;
}
#app .content .table .btn:hover {
  transition: background-color color 0.7s ease;
  background-color: #750b45;
  color: #fff !important;
}
#app .content .application {
  width: 100%;
  padding-top: 6.5rem;
}
#app .content .application .sub_title {
  font-weight: 400;
  font-size: 2.0625rem;
  color: #24608D;
  line-height: 2.4375rem;
  padding: 1.375rem 0 2.125rem 0;
  text-align: center;
}
#app .content .application .content {
  width: 100%;
  background: #F2F2F2;
  padding: 2.8125rem;
  box-sizing: border-box;
  display: flex;
}
#app .content .application .content .imgs {
  width: 41.0625rem;
  margin-right: 2.5rem;
}
#app .content .application .content .imgs .main_img {
  width: 100%;
  height: 36.3125rem;
}
#app .content .application .content .related_title {
  font-weight: 700;
  font-size: 2.375rem;
  color: #24608D;
  line-height: 2.75rem;
  text-align: left;
  font-style: normal;
  padding-top: 1.8125rem;
}
#app .content .application .content .img {
  width: 12.8125rem;
  display: inline-block;
  margin-right: 3.125rem;
}
#app .content .application .content .img img {
  width: 100%;
  height: 12.8125rem;
  display: block;
}
#app .content .application .content .img p {
  font-weight: 400;
  font-size: 1.4375rem;
  color: #4FBBE9;
  line-height: 1.6875rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
}
#app .content .application .content .text {
  flex: 1;
}
#app .content .application .content .text .title {
  font-weight: 700;
  font-size: 2.375rem;
  color: #24608D;
  line-height: 2.75rem;
  text-align: left;
  font-style: normal;
  padding-bottom: 1.75rem;
}
#app .content .application .content .text .intro {
  font-weight: 400;
  font-size: 1.4375rem;
  color: #000000;
  line-height: 2.25rem;
  text-align: left;
  padding-bottom: 1.25rem;
}
#app .content .application .content .text .intro:last-child {
  padding-bottom: 0;
}
#app .content .motioneering {
  width: 100%;
  padding-top: 6.5625rem;
  padding-bottom: 3.1875rem;
}
#app .content .motioneering .content {
  width: 100%;
  background: #F2F2F2;
  padding: 3.75rem 3.125rem;
  margin-top: 3.1875rem;
  display: flex;
}
#app .content .motioneering .content .left_text {
  width: 32.4375rem;
  padding-right: 3.125rem;
}
#app .content .motioneering .content .left_text .problem {
  font-size: 1.6875rem;
  color: #000000;
  line-height: 3rem;
  text-align: left;
  font-style: normal;
  text-transform: none;
}
#app .content .motioneering .content .left_text .problem p {
  font-weight: 400;
}
#app .content .motioneering .content .left_text .problem p:first-child {
  font-weight: 700;
}
#app .content .motioneering .content .left_text .introduce {
  font-weight: 400;
  font-size: 1.6875rem;
  color: #000000;
  line-height: 3rem;
  text-align: left;
  padding-top: 2.3125rem;
}
#app .content .motioneering .content .left_text .btn {
  width: 30.125rem;
  height: 5.625rem;
  background: #ECB62D;
  font-weight: 500;
  font-size: 2.0625rem;
  color: #01467D;
  line-height: 5.625rem;
  text-align: center;
  font-style: normal;
  text-transform: none;
  cursor: pointer;
  margin-top: 0.375rem;
}
#app .content .motioneering .content .left_text .btn:hover {
  transition: background-color color 0.7s ease;
  background-color: #750b45;
  color: #fff !important;
}
#app .content .motioneering .content .video {
  width: 63.5625rem;
  height: 38.3125rem;
}
#app .content .motioneering .content .video video {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#app .btn-active {
  background-color: #750b45;
  color: #fff;
}
