ul {
  padding-left: 15px;
}

.error {
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

#app {
  font-size: 14px;
}
#app .sub-title {
  color: #14206C;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#app .center {
  text-align: center;
}
#app .page-header {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  padding-left: 19.4%;
}
#app .page-header img {
  width: 180px;
}
#app .banner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 44px 19.4% 30px 19.4%;
  width: 100%;
  color: #FFF;
  font-size: 42px;
  font-weight: 700;
  background-image: url("../assets/images/xxdj/banner_bg.png");
  background-size: cover;
}
#app .banner .ctx-area .title {
  margin-bottom: 21px;
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
#app .banner .ctx-area .title .main-title {
  font-size: 36px;
}
#app .banner .ctx-area .title .sub-title {
  color: #FFF;
  font-size: 30px;
}
#app .banner .ctx-area .item {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  gap: 14px;
  color: #FCBC40;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
#app .banner .ctx-area .item img {
  width: 32px;
}
#app .banner .ctx-area .btn-wrapper {
  display: flex;
  gap: 28px;
  font-size: 14px;
}
#app .banner .ctx-area .btn-wrapper .btn {
  margin-top: 0;
  line-height: 2.3;
  flex: 1;
  border-radius: 4px;
}
#app .banner .ctx-area .btn-wrapper .btn1 {
  margin-top: 0;
  color: #14206C;
  background-color: #FCBC40;
}
#app .banner .ctx-area .btn-wrapper .btn2 {
  color: white;
  background-color: transparent;
  border: 1px solid #FCBC40;
}
#app .banner .img-wrapper {
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
}
#app .banner .img-wrapper img {
  width: 500px;
}
#app .btn {
  margin-top: 16px;
  width: 158px;
  color: #14206C;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 2.3;
  border-radius: 4px;
  background-color: #fcbc40;
  cursor: pointer;
}
#app .block2 {
  margin-left: 19.4%;
  margin-right: 19.4%;
  margin-top: 39px;
  margin-bottom: 39px;
  padding-top: 25px;
  border: 3px solid #4FBBE9;
  background: #FFF;
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.35);
}
#app .block2 .title {
  margin-bottom: 14px;
  color: #14206C;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  font-style: normal;
  font-weight: 700;
}
#app .block2 .block-context {
  position: relative;
  display: flex;
  justify-content: center;
  border-top: 2px solid #4FBBE9;
  border-bottom: 0;
}
#app .block2 .block-context .item {
  padding-top: 22px;
  padding-bottom: 39px;
  flex: 1;
  text-align: center;
  color: white;
  font-size: 14px;
  line-height: 1;
  background-color: #4FBBE9;
}
#app .block2 .block-context .item-name {
  font-weight: 700;
  margin-bottom: 20px;
}
#app .block2 .block-context .item .desc-item {
  line-height: 27px;
  margin-bottom: 11px;
}
#app .block2 .block-context .item:nth-of-type(2) {
  text-align: left;
  color: #14206C;
  background-color: white;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 98px 113px;
  background-image: url("../assets/images/xxdj/corner_mark.png");
}
#app .block2 .block-context .item:nth-of-type(2) .item-name {
  text-align: center;
}
#app .block2 .block-context .item:nth-of-type(2) .desc-item {
  margin-bottom: 7px;
  color: #414042;
  margin-left: 105px;
}
#app .block2 .block-context .arrow {
  position: absolute;
  width: 180px;
  left: 50%;
  transform: translateX(-50%);
}
#app .block2 .block-context .r1 {
  top: 65px;
}
#app .block2 .block-context .r2 {
  top: 101px;
}
#app .block2 .block-context .r3 {
  top: 146px;
}
#app .block3 {
  margin-bottom: 98px;
  padding: 5px 19.4%;
}
#app .block3 .title {
  margin-bottom: 15px;
  color: #14206C;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  width: 100%;
}
#app .block3 .block-context {
  display: flex;
  padding: 24px;
  border: 3px solid #4FBBE9;
  background: #FFF;
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.35);
  color: white;
}
#app .block3 .block-context .item {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 54px;
  font-size: 14px;
  flex: 1;
}
#app .block3 .block-context .item .item-title {
  white-space: nowrap;
}
#app .block3 .block-context .item ul {
  font-weight: 400;
}
#app .block3 .block-context .item ul li {
  margin-bottom: 2px;
}
#app .block3 .block-context .item img {
  margin-bottom: 16px;
  margin-top: 16px;
  display: block;
  width: 100%;
}
#app .block4 {
  padding: 0 19.4%;
  margin-bottom: 44px;
}
#app .block4 .tab-wrapper {
  position: relative;
  display: flex;
  gap: 16px;
}
#app .block4 .tab-wrapper .tab-item {
  padding: 5px 20px;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
  color: #24608D;
  border: 3px solid #4FBBE9;
  border-bottom: none;
}
#app .block4 .tab-wrapper .active {
  background-color: #4ebbe9;
}
#app .block4 .tab-wrapper .tip {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 30%;
  color: #ECB62D;
  transform: translate(0, -100%);
}
#app .block4 .tab-wrapper .tip .tip-text {
  margin-top: -7px;
  font-size: 14px;
}
#app .block4 .tab-wrapper .tip img {
  width: 11px;
}
#app .block4 .tab-content {
  border: 3px solid #4FBBE9;
  background: #FFF;
  box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.35);
}
#app .block4 .tab-content .tab1 {
  width: 794px;
}
#app .block4 .tab-content .tab2 {
  width: 886px;
}
#app .block4 .tab-content .tab3 {
  width: 886px;
}
#app .block4 .tab-content .tab4 {
  width: 892px;
}
#app .block4 .btn-wrapper {
  display: flex;
  gap: 45px;
}
#app .QA-item {
  margin-bottom: 45px;
}
#app .QA-item .sub-title {
  margin-bottom: 21px;
  text-align: center;
}
#app .QA-item .sub-title2 {
  margin-bottom: 20px;
  color: #24608D;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
#app .QA-item .content {
  display: flex;
  align-items: center;
  margin-left: 19.4%;
  margin-right: 19.4%;
  padding: 14px 34px 20px 27px;
  gap: 43px;
  background: #F2F2F2;
}
#app .QA-item .content .item-left .title {
  margin-top: 53px;
  color: #24608D;
}
#app .QA-item .content .item-left .img-wrapper {
  display: flex;
  gap: 51px;
  width: 314px;
  align-items: flex-end;
}
#app .QA-item .content .item-left .img-wrapper .img-name {
  margin-top: 17px;
  color: #14206C;
  text-align: center;
}
#app .QA-item .content .item-right .title {
  color: #24608D;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#app .QA-item .content .item-right .desc {
  margin-top: 10px;
  margin-bottom: 22px;
  color: #414042;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.57; /* 157.143% */
}
#app .QA-item .content .item-right .desc .em {
  font-weight: 700;
}
#app .QA-item .content .item-right .desc2 {
  margin-bottom: 12px;
  color: #414042;
  font-weight: 400;
}
#app .QA-item .content .item-right .desc2-title {
  font-weight: 700;
}
#app .QA-item .content .item-right ul {
  margin-top: 10px;
  font-weight: bold;
  color: #414042;
}
#app .block5 .title {
  margin-bottom: 22px;
  color: #14206C;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#app .block5 .block-context {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 14.1% 24px 19.4%;
  background-color: #F2F2F2;
}
#app .block5 .block-context .left {
  width: 50.8%;
  flex-shrink: 1;
  padding-right: 35px;
}
#app .block5 .block-context .left .title {
  color: #24608D;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  line-height: 1.57;
}
#app .block5 .block-context .left .seq {
  font-size: 14px;
  font-weight: 400;
  color: #414042;
}
#app .block5 .block-context .left .desc {
  margin-top: 12px;
  margin-bottom: 22px;
  color: #414042;
}
#app .block5 .block-context .video-wrapper {
  flex: 1;
}
#app .block5 .block-context video {
  width: 100%;
}
#app .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 34px 19.4% 34px 19.4%;
  background-color: #102b5b;
}
#app .footer .title {
  margin-bottom: 8px;
  font-size: 26px;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
  color: white;
}
#app .footer .sub-title {
  position: relative;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}
#app .footer .sub-title:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 30%;
  height: 2px;
  content: "";
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .sub-title:after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  width: 30%;
  height: 2px;
  background-color: white;
  transform: translateY(-50%);
}
#app .footer .footer-ctx {
  margin-bottom: 44px;
  font-size: 16px;
  line-height: 25px;
}
#app .footer .footer-ctx p {
  margin-bottom: 20px;
  color: white;
}
#app .footer .footer-ctx .em {
  color: #fcbc40;
  font-weight: 500;
}
#app .footer .title-desc {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
#app .footer .require-tip {
  color: white;
  font-size: 12px;
}
#app .footer .footer-form {
  width: 100%;
}
#app .footer .footer-form .input-area {
  display: flex;
  justify-content: space-between;
  gap: 57px;
  width: 100%;
}
#app .footer .footer-form .input-area .item {
  flex: 1;
  color: white;
  font-size: 14px;
}
#app .footer .footer-form .input-area .item input {
  margin-top: 5px;
  width: 100%;
  height: 19px;
  line-height: 19px;
  font-size: 14px;
  outline: none;
}
#app .footer .footer-form .submit-area {
  display: flex;
  justify-content: space-between;
  gap: 57px;
  margin-top: 25px;
}
#app .footer .footer-form .submit-area .item {
  flex: 1;
}
#app .footer .footer-form .submit-area input {
  color: #14206C;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  height: 32px;
  border-radius: 4px;
  background-color: #fcbc40;
  cursor: pointer;
}
#app .page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  gap: 22px;
  background: rgba(217, 217, 217, 0.5);
  color: rgba(70, 80, 82, 0.5);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
#app .page-footer img {
  width: 123px;
}
