
ul {
  padding-left: 15px;
}
.error {
  margin-top: 5px;
  font-size: 12px;
  color: red;
}
#app {
  font-size: 14px;
  .sub-title {
    color: #14206C;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .center {
    text-align: center;
  }
  .page-header {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    padding-left: 19.4%;
    img {
      width: 180px;
    }
  }
  .banner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 44px 19.4% 30px 19.4%;
    width: 100%;
    color: #FFF;
    font-size: 42px;
    font-weight: 700;
    background-image: url('../assets/images/xxdj/banner_bg.png');
    background-size: cover;
    .ctx-area {
      .title {
        margin-bottom: 21px;
        color: #FFF;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        .main-title {
          font-size: 36px;
        }
        .sub-title {
          color: #FFF;
          font-size: 30px;
        }
      }
      .item {
        display: flex;
        align-items: center;
        margin-bottom: 22px;
        gap: 14px;
        color: #FCBC40;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        img {
          width: 32px;
        }
      }
      .btn-wrapper {
        display: flex;
        gap: 28px;
        font-size: 14px;
        .btn {
          margin-top: 0;
          line-height: 2.3;
          flex: 1;
          border-radius: 4px;
        }
        .btn1 {
          margin-top: 0;
          color: #14206C;
          background-color: #FCBC40;
        }
        .btn2 {
          color: white;
          background-color: transparent;
          border: 1px solid #FCBC40;
        }
      }
    }
    .img-wrapper {
      display: flex;
      align-items: flex-end;
      margin-left: 20px;
      img {
        width: 500px;
      }
    }
  }
  .btn {
    margin-top: 16px;
    width: 158px;
    color: #14206C;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.3;
    border-radius: 4px;
    background-color: #fcbc40;
    cursor: pointer;
  }
  .block2{
    margin-left: 19.4%;
    margin-right: 19.4%;
    margin-top: 39px;
    margin-bottom: 39px;
    padding-top: 25px;
    border: 3px solid #4FBBE9;
    background: #FFF;
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.35);
    .title {
      margin-bottom: 14px;
      color: #14206C;
      text-align: center;
      font-size: 24px;
      line-height: 1;
      font-style: normal;
      font-weight: 700;
    }
    .block-context {
      position: relative;
      display: flex;
      justify-content: center;
      border-top: 2px solid #4FBBE9;
      border-bottom: 0;
      .item {
        padding-top: 22px;
        padding-bottom: 39px;
        flex: 1;
        text-align: center;
        color: white;
        font-size: 14px;
        line-height: 1;
        background-color: #4FBBE9;
        &-name {
          font-weight: 700;
          margin-bottom: 20px;
        }
        .desc-item {
          line-height: 27px;
          margin-bottom: 11px;
        }
      }
      .item:nth-of-type(2) {
        text-align: left;
        color: #14206C;

        background-color: white;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 98px 113px;
        background-image: url("../assets/images/xxdj/corner_mark.png");
        .item-name {
          text-align: center;
        }
        .desc-item {
          margin-bottom: 7px;
          color: #414042;
          margin-left: 105px;
        }
      }
      .arrow {
        position: absolute;
        width: 180px;
        left: 50%;
        transform: translateX(-50%);
      }
      .r1 {
        top: 65px;
      }
      .r2 {
        top: 101px;
      }
      .r3 {
        top: 146px;
      }
    }
  }
  .block3{
    margin-bottom: 98px;
    padding: 5px 19.4%;
    .title {
      margin-bottom: 15px;
      color: #14206C;
      font-size: 24px;
      font-style: normal;
      text-align: center;
      font-weight: 700;
      width: 100%;
    }
    .block-context {
      display: flex;
      padding: 24px;
      border: 3px solid #4FBBE9;
      background: #FFF;
      box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.35);
      color: white;
      .item {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        padding-left: 11px;
        padding-right: 11px;
        padding-bottom: 54px;
        font-size: 14px;
        flex: 1;
        .item-title {
          white-space: nowrap;
        }
        ul {
          font-weight: 400;
          li {
            margin-bottom: 2px;
          }
        }
        img {
          margin-bottom: 16px;
          margin-top: 16px;
          display: block;
          width: 100%;
        }
      }
    }
  }
  .block4 {
    padding: 0 19.4%;
    margin-bottom: 44px;
    .tab-wrapper {
      position: relative;
      display: flex;
      gap: 16px;
      .tab-item {
        padding: 5px 20px;
        font-weight: 500;
        cursor: pointer;
        background-color: white;
        color: #24608D;
        border: 3px solid #4FBBE9;
        border-bottom: none;
      }
      .active {
        background-color: #4ebbe9;
      }
      .tip {
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 30%;
        color: #ECB62D;
        transform: translate(0, -100%);
        .tip-text {
          margin-top: -7px;
          font-size: 14px;
        }
        img {
          width: 11px;
        }
      }
    }
    .tab-content {
      border: 3px solid #4FBBE9;
      background: #FFF;
      box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.35);
      .tab1 {
        width: 794px;
      }
      .tab2 {
        width: 886px;
      }
      .tab3 {
        width: 886px;
      }
      .tab4 {
        width: 892px;
      }
    }
    .btn-wrapper {
      display: flex;
      gap: 45px;
    }
  }
  .QA-item {
    margin-bottom: 45px;
    .sub-title {
      margin-bottom: 21px;
      text-align: center;
    }
    .sub-title2 {
      margin-bottom: 20px;
      color: #24608D;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
    }
    .content {
      display: flex;
      align-items: center;
      margin-left: 19.4%;
      margin-right: 19.4%;
      padding: 14px 34px 20px 27px;
      gap: 43px;
      background: #F2F2F2;
      .item-left {
        .title {
          margin-top: 53px;
          color: #24608D;
        }
        .img-wrapper {
          display: flex;
          gap: 51px;
          width: 314px;
          align-items: flex-end;
          .img-name {
            margin-top: 17px;
            color: #14206C;
            text-align: center;
          }
        }
      }
      .item-right {
        .title {
          color: #24608D;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .desc {
          margin-top: 10px;
          margin-bottom: 22px;
          color: #414042;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.57; /* 157.143% */
          .em {
            font-weight: 700;
          }
        }
        .desc2 {
          margin-bottom: 12px;
          color: #414042;
          font-weight: 400;
          &-title {
            font-weight: 700;
          }
        }
        ul {
          margin-top: 10px;
          font-weight: bold;
          color:  #414042;
        }
      }
    }
  }
  .block5 {
    .title {
      margin-bottom: 22px;
      color: #14206C;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .block-context {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px 14.1% 24px 19.4%;
      background-color: #F2F2F2;
      .left {
        width: 50.8%;
        flex-shrink: 1;
        padding-right: 35px;
        .title {
          color: #24608D;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          text-align: left;
          line-height: 1.57 /* 157.143% */
        }
        .seq {
          font-size: 14px;
          font-weight: 400;
          color: #414042;
        }
        .desc {
          margin-top: 12px;
          margin-bottom: 22px;
          color: #414042;
        }

      }
      .video-wrapper {
        flex: 1;
      }
      video {
        width: 100%;
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 34px 19.4% 34px 19.4%;
    background-color: #102b5b;
    .title {
      margin-bottom: 8px;
      font-size: 26px;
      font-weight: 600;
      line-height: 50px;
      text-align: center;
      color: white;
    }
    .sub-title {
      position: relative;
      width: 100%;
      font-size: 18px;
      margin-bottom: 20px;
      color: white;
      text-align: center;
      &:before {
        position: absolute;
        left: 0;
        top: 50%;
        width: 30%;
        height: 2px;
        content: '';
        background-color: white;
        transform: translateY(-50%);
      }
      &:after{
        position: absolute;
        right: 0;
        top: 50%;
        content: '';
        width: 30%;
        height: 2px;
        background-color: white;
        transform: translateY(-50%);
      }
    }
    .footer-ctx {
      margin-bottom: 44px;
      font-size: 16px;
      line-height: 25px;
      p {
        margin-bottom: 20px;
        color: white;
      }
      .em {
        color: #fcbc40;
        font-weight: 500;
      }
    }
    .title-desc {
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
    .require-tip {
      color: white;
      font-size: 12px;
    }
    .footer-form {
      width: 100%;
      .input-area {
        display: flex;
        justify-content: space-between;
        gap: 57px;
        width: 100%;
        .item {
          flex: 1;
          color: white;
          font-size: 14px;
          input {
            margin-top: 5px;
            width: 100%;
            height: 19px;
            line-height: 19px;
            font-size: 14px;
            outline: none;
          }
        }
      }
      .submit-area {
        display: flex;
        justify-content: space-between;
        gap: 57px;
        margin-top: 25px;
        .item {
          flex: 1;
        }
        input {
          color: #14206C;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: 27px;
          height: 32px;
          border-radius: 4px;
          background-color: #fcbc40;
          cursor: pointer;
        }

      }
    }
  }
  .page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    gap: 22px;
    background: rgba(217, 217, 217, 0.50);
    color: rgba(70, 80, 82, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    img {
      width: 123px
    }
  }

}